[2018-04-12 19:10] Tomcli opened #2 "Import module error due to missing __init__.py"
The src and classifiers modules are missing import statements in `__init__.py`  to expose the modules. `__init__.py` import statements should be similar to the src.attacks module.

[2018-04-18 21:25] ririnicolae commented on #2
Solved.

[2018-04-18 21:25] #2 closed

[2018-04-18 22:42] Tomcli opened #3 "Question: Any plan for Uploading ART to PyPi?"
Any plan for cutting an alpha release and publish it on place like PyPi?

[2018-04-25 21:59] ririnicolae commented on #3
Initial version now on PyPi: https://pypi.org/project/adversarial-robustness-toolbox/

[2018-04-25 21:59] #3 closed

[2018-04-30 16:42] cenyuzhang opened #4 "error running the examples"
Hi, I encountered the following error when running the examples:

Traceback (most recent call last):
  File "examples/mnist_cnn_fgsm.py", line 11, in <module>
    from config import config_dict
  File "/anaconda3/lib/python3.6/site-packages/config/__init__.py", line 47, in <module>
    with open(config_file, mode='rt') as f:
FileNotFoundError: [Errno 2] No such file or directory: '/anaconda3/lib/p

[2018-04-30 16:46] ririnicolae commented on #4
Thanks for letting us know! How did you install ART (download + install or from PyPi)?

[2018-04-30 16:52] cenyuzhang commented on #4
@ririnicolae thanks for the quick response! I installed and use Anaconda3.

[2018-05-01 10:11] ririnicolae commented on #4
I will fix this for future installs. Meanwhile, the quick fix for you would be to manually add `config.ini` in `/anaconda3/lib/python3.6/site-packages/config` with the following content:
[code]

[2018-05-01 13:25] cenyuzhang commented on #4
@ririnicolae thanks!

[2018-05-01 13:25] #4 closed

[2018-06-13 07:51] zivka-bgu opened #5 "Keras import should not be commented on utils.py"
Hi,

Seems like the line _"from keras import backend as k"_ in utils.py should not be commented out.
When it does a call to load_dataset() fails over an undefined "k"

[2018-06-13 07:53] zivka-bgu opened #6 "KerasClassifer is not copied when using the PyPl install"
When using the PyPl install (instead of the clone and install procedure described in the main readme), the KerasClassifier is not copied to the classifiers folder, hence failing to execute

Regards
Ziv.

[2018-06-13 09:23] zivka-bgu opened #7 "bug in "to_categorical" implementation"
Hi,

There is a bug in the "to_categorical" utility function making it construct an array totally filled with "1".
This in turn prevents the classifier loss from dropping etc...
(discovered that when playing with the CIFAR example)

I have replaced - _categorical[np.arange(labels.shape[0]), labels] = 1_
with -
_    for i in range(labels.shape[0]):
        categorical[i][labels[i]] = 1_

which solv

[2018-06-14 13:23] ririnicolae commented on #5
Thank you for raising this issue! It is now solved in dbf8b30.

[2018-06-14 13:36] ririnicolae commented on #7
Hi, Ziv! Could you please provide a test case that triggers this bug?
The following test case works:
[code]

[2018-06-14 14:02] zivka-bgu commented on #7
Hi,

I was running your own CIFAR10 example. The Y values matrices were set to all ones, which prevented model training and evaluation

When I changed the line mentioned in the original post everything started working as expected

Ziv

[2018-06-14 18:30] ririnicolae commented on #7
Ok, I reproduced it on my side. Will get back to you with a fix!

[2018-06-14 18:46] zivka-bgu commented on #7
Thanks!

Glad I was able to help
Ziv

[2018-06-19 14:21] stevemar opened #8 "add a maintainers file"
similar to this one https://github.com/IBM/Fashion-MNIST-using-FfDL/blob/master/MAINTAINERS.md

[2018-06-19 15:46] #7 closed

[2018-06-19 20:39] animeshsingh commented on #8
moved to https://github.com/IBM/FfDL/tree/master/demos/fashion-mnist-adversarial

[2018-06-20 10:11] #6 closed

[2018-06-29 16:13] SaiRaj07 opened #9 "Is there any keras wrapper function support to use these attacks with my own model just as cleverhnas and foolbox has????"

[2018-07-02 09:12] ririnicolae commented on #9
Hi! Yes, there is wrapper for Keras models called `KerasClassifier`. Please take a look at the `examples` folder for its usage.

[2018-07-02 20:09] SaiRaj07 commented on #9
Thank you. I figured out looking at the example and was able to implement the same attack on my model. Except Fgsm, Deepfool, Carlini do other attacks take comparatively a very long time??

[2018-07-02 20:56] ririnicolae commented on #9
FGSM should run much faster than Carlini or DeepFool. Is that consistent with the results you are getting? Could you provide some info about your experiments? How big is your model (number of layers)? How many classes does it have? You could also try NewtonFool.

[2018-07-03 15:40] SaiRaj07 commented on #9
Well I am working with mnist digit and mnist fashion. Well the model is basically a simple neural network with an input layer, 2 hidden layers (512 neurons in each layer)and a output layer(10 classes). The fgsm attack is too quick and hardly takes 10 secs and accuracy falls down to 6%, deep fool takes around 4 mins and accuracy reduces to around 1%. These are approximated times. NewtonFool even af

[2018-07-03 15:44] ririnicolae commented on #9
Thank you for your feedback! We're actually looking into optimizing the attacks, the slow ones will do much better soon. For FGSM and DeepFool, your results match what I would expect. Do you have some stats for Carlini and JSMA as well?

[2018-07-03 16:55] SaiRaj07 commented on #9
For JSMA attack, theta and gamma set to 0.5, for first 100 samples the accuracy falls down to 3% . This takes around 10 mins which is comparable to jsma attack from cleverhans and foolbox.Testing with all samples takes time for me and most probably throws an out of memory error as I encountered using cleverhans. I haven't still tried CW, are other attacks such as Universal Pertubation, VIrtual Per

[2018-07-04 11:51] ririnicolae commented on #9
Thanks for the info! I would not expect an out of memory exception for JSMA in ART, we don't compute it the same way as Cleverhans.

Universal perturbation and virtual adversarial are essentially iterative methods, so computationally expensive in most cases. Moreover, virtual adversarial is not an attack per say, it's a method to obtain adversarial samples to be used for adversarial training, aka

[2018-07-06 15:23] SaiRaj07 commented on #9
I tried Jsma. It didnt end up throwing OOM error as you had suggested. Takes almost 3 hours on my system. Got an accuracy of 1.46% keeping theta and gamma to 0.5. So until now I  was easily able to replicate results similar to cleverhans for Fgsm, DeepFool and JSMA.
Is the CW attack by default targeted ?? ( I am trying for untargeted attack)
It throws an error everytime I make target parameter  as

[2018-07-06 15:58] ririnicolae commented on #9
Thanks for the update on the results you get!

C&W is targeted by default. If you get an error for untargeted, please create a separate issue for this problem, with more information (stack trace, version info, minimum working code example). Thanks.

[2018-07-30 13:13] sunlightsgy opened #12 "pytorch 0.4 support"
I think the pytorch version is >0.4, but I get the following error

[code]

I think it is because of the new feature of pytorch 0.4. Can you fix it? Thank you.

[2018-07-31 09:29] ririnicolae commented on #12
Thanks for letting us know! We'll try to support PyTorch 0.4 soon.

[2018-08-02 15:37] samuelemarro commented on #12
I think it's because of PyTorch's `from_numpy()` function, which casts the numpy array to a CPU tensor. If the model is running on CUDA, which happens if PyTorch detects a CUDA-compatible GPU:
[code]
then there's a mismatch (`torch.FloatTensor` vs `torch.cuda.FloatTensor`).
The solution is to cast CPU tensors to CUDA tensors with `.to(device)` and convert them to CPU tensors with `.cpu()`. before

[2018-08-02 17:28] ririnicolae commented on #12
Thanks, @samuelemarro! I'll try your solution and see if it works for both PyTorch 0.3 and 0.4.

[2018-08-10 09:43] JeremBlain opened #13 "need torch to use KerasClassifier"
Hello. I tried to use this toolbox to create some adversarial example.
When I write
`from art.classifiers import KerasClassifier`

It prints me an error :
` No module named 'torch'`

the example cifar_adversarial_training.py doesn't work either. (same error)
Edit : actually, none of the examples work.
Edit2 : even the run_tests script doesn't work (for the same reason)

Why do I need torch to use

[2018-08-10 10:39] JeremBlain opened #14 "can't load imagenet dataset"
Hello, I am using the function load_dataset() but it doesn't work.

I have the following error :
~\Anaconda3\lib\site-packages\art\utils.py in load_imagenet()
    313
    314     dataset = np.asarray(dataset)
--> 315     y = to_categorical(np.asarray([label] * len(dataset)), 1000)
    316
    317     try:

UnboundLocalError: local variable 'label' referenced before assignment

and in utils.py, int

[2018-08-10 13:06] ririnicolae commented on #13
Hi! Thanks for reporting this issue! We're working on fixing it  and will let you know when it's done.

[2018-08-14 13:49] ririnicolae commented on #14
Thank you for reporting this problem! `load_imagenet` is a helper function that does *not* download the dataset. It thus fails when the data is not present and under the assumed format. Considering the size of ImageNet, it does not make sense to download it in a synchronous mode when using the library. This considered, the helper function has very little added value, and we will be removing it to

[2018-08-14 13:50] #13 closed

[2018-08-14 13:50] #14 closed

[2018-08-17 19:15] marcociccone commented on #12
Hi! Any update on this? Thanks

[2018-08-17 22:00] ririnicolae commented on #12
I just pushed a fix (commit 51a001c). @sunlightsgy, @marcociccone, let me know if the issue is solved for you. @samuelemarro I used your solution, thanks for that!

[2018-08-23 17:29] #12 closed

[2018-08-29 10:23] akshayag opened #15 "Divide by zero"
Hello,

Was running the code on CIFAR for 150 epochs and with batch size 32

Craft attack on training examples
/adversarial-robustness-toolbox-master/art/attacks/deepfool.py:84: RuntimeWarning: divide by zero encountered in true_divide
  r = (abs(f_diff[l]) / pow(np.linalg.norm(grad_diff[l]), 2)) * grad_diff[l]
/adversarial-robustness-toolbox-master/art/attacks/deepfool.py:84: RuntimeWarning: inva

[2018-08-29 10:29] ririnicolae commented on #15
Hi, @akshayag! Thanks for letting us know! I'll add a small tolerance constant to avoid divide by 0 warnings.

[2018-08-29 11:13] akshayag commented on #15
Please write some instructions to use other attack methods also. For example, I am getting the error when trying to run the attack CarliniL2Method

x_train_adv = adv_crafter.generate(x_train)
  File "/adversarial-robustness-toolbox-master/art/attacks/carlini.py", line 124, in generate
    assert not (self.targeted and y is None)
AssertionError

Similarly, if there will be an example line for other

[2018-08-29 11:29] ririnicolae commented on #15
We will try to provide more examples. Meanwhile, for your current error, as per CarliniL2Method [documentation](https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/attacks.html#carlini-and-wagner-attack), you either need to set `targeted=False` when creating the attack, or provide target labels `y` when calling `generate`.

[2018-08-31 06:15] akshayag commented on #15
Please take a look at this error also.

Create VirtualAdversarialMethod attack

Craft attack on training examples
/adversarial-robustness-toolbox-master/art/attacks/virtual_adversarial.py:91: RuntimeWarning: invalid value encountered in float_scalars
  d_new[array_iter.multi_index] = (kl_div2 - kl_div1) / self.finite_diff
/adversarial-robustness-toolbox-master/art/attacks/virtual_adversarial.py:11

[2018-08-31 12:36] ririnicolae commented on #15
@akshayag Fix for both divide by 0 issues is pushed. Please confirm that the warning is gone.

[2018-09-02 12:39] duoergun0729 opened #16 "feature_squeezing.py clip_values is wrong"
adversarial-robustness-toolbox/art/defences/feature_squeezing.py

        if clip_values[1] != 0:
            x_ = x_ / clip_values[1]

if clip_values[0] is not 0, this will be wrong , the right is

        if clip_values[1] != 0:
            x_ = x_ / （clip_values[1]-clip_values[0]）

[2018-09-03 14:41] ririnicolae commented on #16
Thanks for pointing this out, @duoergun0729! Fixing it now!

[2018-09-03 14:42] #16 closed

[2018-09-04 14:45] davidlee1999 opened #17 "Should we use the preprocess for the image in notebooks/attack_defense_imagenet.ipynb ?"
I think that the variable "img" in the third block of code should add a step of preprocess:
`img = preprocess_input(img)`
And then the reverse the preprocess for the generated adversarial example later.

Maybe other notebook example has the same problem, could you check it?

[2018-09-04 14:49] ririnicolae commented on #17
Yes, you're right, I will add the preprocessing step. This is not an issue for the notebook on poisoning, as that example works on MNIST, which is preprocessed (normalized to 1) when loaded.

[2018-09-11 17:05] dcmartin opened #18 "Getting 12 errors; expected 4"
I am receiving this notification when running the tests per instructions in the README.md file.

This message is received on both Ubuntu 18.04 and macOS 10.13.6

Please advise.

[2018-09-11 18:48] ririnicolae commented on #18
Hi, @dcmartin ! Could you please provide the full error trace you get when running the tests, as well as some information about how you installed the project (`pip` or GitHub, what machine learning backend you are using, in virtual environment or not, etc)? Thanks.

[2018-09-20 14:30] why1988seu opened #20 "the effect of defences methods"
I use the gaussian augmentation and label smoothing method on the cifar-10 adversarial training example. But the accuracy of defences methods is lower than the clean train dataset. Is this normal?

[2018-09-20 15:44] ririnicolae commented on #20
There is no record about Gaussian augmentation and label smoothing being used together previously, so I don't really know if this should work. Gaussian noise can degrade performance if you introduce too much of it. What is the value of the `sigma` parameter you use for Gaussian noise? I support your cifar-10 data is normalized between 0 and 1? Also, when you say you do Gaussian augmentation and la

[2018-09-21 08:57] ririnicolae commented on #20
@why1988seu, thanks for the additional info! When loading cifar-10, the data will be normalized between 0 and 1. In that case, a standard deviation `sigma` of 1 is a pretty high value. That can explain the results you obtained. I recommend starting with something like `sigma=0.1` or `sigma=0.3`. I can also point you to some of our previous work, where you'll find some numerical results for Gaussia

[2018-09-22 13:49] why1988seu commented on #20
Thank you very much! How can I tune the hyperparameters such as 'sigma'? There are many hyperparametes in the attack or defences methods.

[2018-09-25 06:29] why1988seu commented on #20
Thank you very much! I have read your paper and it's very useful. Is there any other papers which talk about  numerical results for various algorithms？

[2018-10-09 19:42] Jindong-Explainable-AI opened #21 "AssertionError: assert grds.shape == (x_.shape[0], 1) + self.input_shape"
Hi all, I apply CarliniL2Method(classifier...).generate(img_variable.data.numpy()) to generate asversary samples. It shows that
Traceback (most recent call last):
 File "adv_tool.py", line 127, in <module>
   adv_gen()
 File "adv_tool.py", line 113, in adv_gen
   img_adv = adv.generate(img_variable.data.numpy())
 File "/Users/ostdong/anaconda2/lib/python2.7/site-packages/art/attacks/carlini.py", l

[2018-10-09 19:56] ririnicolae commented on #21
Hi, @Jindong-Explainable-AI! The fact that you get the error for C&W and DeepFool, but not FGSM confirms that the problem comes from the implementation of class gradients for the PyTorch wrapper. A couple of questions:

- Could you confirm that you pass `input_shape=(3, 224, 224)` to `PyTorchClassifier` when you create the object?
- Is the model you are using one of the standard Imagenet models? T

[2018-10-09 20:06] Jindong-Explainable-AI commented on #21
Hi, @Irina Nicolae Thanks for the response! I reinstalled the package again with pip command and also manually. And run the code, get the same error! I also tried with different (input_shape) e.g. (224, 224), (1, 224, 224), (1, 3, 224, 224), (3, 224, 224), (224, 224, 3) and so on, still the same error.

[2018-10-09 20:15] Jindong-Explainable-AI commented on #21
model = models.vgg16(pretrained=True)

classifier = PyTorchClassifier(clip_values=(-2.11790394, 2.2489084), model=model, loss= nn.CrossEntropyLoss(), optimizer= torch.optim.SGD(model.parameters(), lr = 0.01), input_shape=(3, 244, 244), nb_classes = 1000, defences = None, preprocessing=(0, 1))

adv = CarliniL2Method(classifier, targeted=False, max_iter=10, binary_search_steps=10, learning_rate=0.01

[2018-10-10 15:00] Jindong-Explainable-AI commented on #21
Thanks for this! Sorry for such an embarrassing error.
FastGradientMethod, BIM use loss_gradient() where assert grds.shape == x.shape
In CarliniL2Method, it uses class_gradient() where assert grds.shape == (x_.shape[0], self.nb_classes) + self.input_shape
The first one has nothing to do with the specified input shape.
That is why one works, it does not work for the other!
Okay, Thanks a lot!

[2018-10-10 15:07] #21 closed

[2018-10-11 22:58] Jindong-Explainable-AI opened #22 "Run CarliniL2Method on GPU,"
img_adv = adv.generate(img_variable.data.numpy())
  File "/usr/local/lib/python2.7/dist-packages/art/attacks/carlini.py", line 184, in generate
    grad_l2p = self.classifier.class_gradient(np.array([adv_image]), label=i_add, logits=True)[0]
  File "/usr/local/lib/python2.7/dist-packages/art/classifiers/pytorch.py", line 211, in class_gradient
    torch.autograd.backward(preds[:, label], torch.Ten

[2018-10-14 11:35] rajasekharponakala opened #23 "Models in Caffe"
Hey folks!

This project is a great effort. Similar way, can we pass Caffe models to this tool?

Thanks

[2018-10-14 13:46] ririnicolae commented on #23
Hi, @rajasekharponakala! We don't currently support Caffe models, but we gladly accept contributions and extensions if you have some time to spend on this!

[2018-10-14 15:02] rajasekharponakala commented on #23
hi @ririnicolae: Sure, I want to contribute. Could you guide me!

Thanks.

[2018-10-14 17:11] ririnicolae commented on #23
Sure, that would be great! Overall, you need to provide a wrapper on top of a Caffe model called `CaffeClassifier`. This wrapper implements the `Classifier` API from `art/classifiers/classifier.py` (see doc [here](https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/classifiers.html#base-class)). Notice that the data types used by model wrappers are standard Python types and Num

[2018-10-14 18:11] rajasekharponakala commented on #23
@ririnicolae: Thanks again. I'm already in there and let's catch-up there!

[2018-10-30 16:14] Luke06 opened #24 "Unable to load_model !!!!"
I wrote a sample notebook in python to test the models provided and run the samples notebooks, but none of them are being loaded correctly when invoked.
here is the python snippet I used

from keras.models import load_model
....
!wget 'https://github.com/IBM/adversarial-robustness-toolbox/blob/master/models/mnist_cnn_original.h5'
!ls -l
Saving to: ‘mnist_cnn_original.h5’

    [ <=>

[2018-10-30 17:01] ririnicolae commented on #24
Hi, @Luke06! Please see the following comment about how to download `h5` files without corrupting their integrity: https://github.com/h5py/h5py/issues/757#issuecomment-412287475 Let me know if this solves the issue. Also, the model was created with `keras==2.2.2`; please consider using the same version to make sure that you can load it.

[2018-10-31 16:01] Luke06 commented on #24
Hi
I looked at the comment but I don't see how it fix my problem ,  Iam using the std keras library to load the model and the file is they one from the ART repo that I retrieve thru a wget in my python notebook. the downloaded file seems to be correct. I am in Keras 2.2.4 ! but cannot move back to 2.2.2 due to others incompatibilities in my code :(. in fact my goal is to retrain my model using you

[2018-10-31 16:24] ririnicolae commented on #24
@Luke06 I have tested your scenario. Loading the model does not work for me neither if I download it using `wget`. Actually, the model from the repo and the one downloaded with `wget` don't even have the same size on disk (I get 44357 for `wget`, just the same as you, and 2737408 for the model downloaded properly). That is what the comment I pointed you towards explains. You could clone the repo o

[2018-11-02 14:07] Luke06 commented on #24
OK I understand the problem with the downloaded h5 file.
Yes my initial goal was to retrain my model using the defences from the libraries but  I was encountering some issues probably due to invalid usage of the library, here is the code I tried to use
I have defined a CNN model called model and I create a Classifier wrapper :
Original_Classifier = KerasClassifier((0,1),model,use_logits=False)
Ori

[2018-11-09 11:03] ririnicolae commented on #24
I would say that your original problem (`.h5` files) is solved, so I will close this issue.

I don't see any obvious error in your code example. Would you mind opening a new issue for it, where you would copy the code example, as well as the full stack trace of the error you are getting when running it?

[2018-11-09 11:03] #24 closed

[2018-11-11 17:01] akshayag opened #25 "Defense Algorithm"
Hi,
I just want to know how to use the defense algorithms inbuilt in the toolbox. For example, I want to use the Feature Squeezing. Is the following line is correct?

adv_smoothing = art.defences.FeatureSqueezing(x_test_adv) # passing the adversarial images generated

Thanks in advance

[2018-11-12 19:13] ririnicolae commented on #25
Hi @akshayag! You first need to create an instance of that class, then call it with the adversarial samples. With your notation:
[code]
You can also pass the parameter `bit_depth` to the FS constructor to control the number of bits that will be used to encode the data. Alternatively, if you are using a `Classifier` wrapper (any of `KerasClassifier`, `TFClassifier`, `MXClassifier`, `PyTorchClassifi

[2018-11-27 11:31] ririnicolae commented on #22
This issue has been solved in f524fb1. Please let us know if you encounter further problems.

[2018-11-27 11:31] #22 closed

[2018-11-27 11:32] #15 closed

[2018-11-27 11:33] #25 closed

[2018-11-27 11:37] ririnicolae opened #26 "Create templates for issues and feature requests"

[2018-11-27 11:38] ririnicolae commented on #26
Done in  5729790.

[2018-11-27 11:38] #26 closed

[2018-12-04 17:35] #17 closed

[2019-01-08 16:03] ririnicolae commented on #18
Closing due to inactivity.

[2019-01-08 16:03] #18 closed

[2019-01-14 15:38] AkashGanesan opened #28 "Add a way to set the train/test mode for model explicitly for prediction and adversarial crafting"
**Is your feature request related to a problem? Please describe.**
I'm trying to set dropout layers to be in train mode while in test mode.  Currently, predict will force the entire model into test mode.

**Describe the solution you'd like**
I'll be using Pytorch models so if there is a way where I have to can set the model's learning phases explicitly instead of the predict forcing the model to t

[2019-01-23 01:49] weitianli opened #29 "IndexError in CarliniL2Method"
**Describe the bug**
I implement a simple resnet9 and want to test cw2 result. All is good when I set max_iter=10. But when I set max_iter=1000 that is same value as cw2 original version. The index error comes.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a simple CarliniL2Method.
2. cl2m = CarliniL2Method(classifier=ptc, targeted=True, max_iter=1000)
3. run the cw2 code like in the c

[2019-01-23 10:11] mathsinn commented on #29
Thank you @weitianli I'm looking into it.

[2019-01-23 11:55] #29 closed

[2019-01-23 11:58] ririnicolae commented on #29
Hi, @weitianli! Fix is now out, please install from clone for the issue to be solved. Let us know if you encounter any further problems!

[2019-01-23 12:03] mathsinn commented on #29
@weitianli Normally, with the new version of the attack, an `max_iter` value significantly smaller than 1000 should suffice. Before we were using gradient descent with decayed learning rate for minimizing the CWL2 objective, now we are using binary line search which should converge faster and be more stable. Please let us know if you have any issues with determining the right value for this parame

[2019-01-23 17:30] weitianli commented on #29
Thank you very much! I will try it!

[2019-01-25 04:56] weitianli commented on #29
I have a small problem about the max_iter. I found your tutorial code about cw set max_iter is 10. Is it the same effect like Cleverhans tutorial(max_iter=100) or CW(max_iter=1000) original version?
Also, I have a small problem about eps in FGSM calculation. Is eps formula in ART is 1*(1/255)?
Thank you very much!
@mathsinn @ririnicolae

[2019-01-25 08:49] ririnicolae commented on #29
@weitianli What is the problem you encounter with `max_iter` in C&W? What about the one on the `eps` value in FGSM? I would say the number of iterations is not strictly equivalent to the other implementations, just that in ART a small number of iterations should suffice. The `eps` value depends on the data range of your classifier. For example, if your data is normalized between 0 and 1, `eps` sho

[2019-01-25 16:44] ririnicolae opened #31 "Add logging usage in examples and wiki"
**Is your feature request related to a problem? Please describe.**
It was unclear to some users whether ART supported logging and how to leverage it.

**Describe the solution you'd like**

- [ ] Edit code examples to show how to configure logging
- [x] Document logger in wiki

[2019-01-26 02:06] weitianli commented on #29
I got it. Thank you for your kind response.

[2019-02-04 09:25] Nishath-arfa opened #32 "Matrix comatiblity issue"
hi,
i wanted to know how to fix compatiblity issue of the matrix in detector-for-cifar.ipynb file.
Also the error is
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-5-fed7cfadf58b> in <module>
----> 1 x_test_pred = np.argmax(classifier.predict(x_test[:100][:100]), axis=1)
      2 nb_correct_pred = np.sum(x_test_pred == np.argmax(y_test[:100][:100], axis=1

[2019-02-06 15:20] ririnicolae commented on #28
This feature has been implemented for all backend frameworks. This is now part of the `Classifier` API. You can call `classifier.set_learning_phase()` for setting and the property `classifier.learning_phase` to check if a value has been set. https://github.com/IBM/adversarial-robustness-toolbox/commit/a1b750e2951b1894b44f1d598161daf122e6bd81 closes this issue. @AkashGanesan let us know if this doe

[2019-02-06 15:20] #28 closed

[2019-02-06 15:32] ririnicolae commented on #32
Hi, @Nishath-arfa ! It seems you have altered the original notebook code: instead of `x_test_pred = np.argmax(classifier.predict(x_test[:100][:100]), axis=1)`, it should only be `x_test_pred = np.argmax(classifier.predict(x_test[:100]), axis=1)`. Basically, `x_test` does not have two dimensions of size >= 100, but only one, which is the first (the batch size). The second dimension is one of the im

[2019-02-06 15:32] #32 closed

[2019-02-07 00:29] peck94 opened #33 "ART does not work with Keras Embedding layers"
**Describe the bug**
I am unable to create any instances of `art.classifiers.KerasClassifier` whenever the underlying Keras model contains an Embedding layer. Using the TensorFlow backend, this invariably leads to a `TypeError: Can not convert a NoneType into a Tensor or Operation.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create any Keras model with an Embedding layer on the TensorFl

[2019-02-07 10:39] ririnicolae commented on #33
@peck94 From your MWE, I take it you work with sequential data, not images? ART currently supports only image models, but you can expect an extension to other types of data in the upcoming months. FYI, embedding layers are not differentiable, so even if you could wrap the model under the `KerasClassifier`, you would not be able to apply most evasion attacks out of the box (as they need gradients).

[2019-02-13 11:45] #31 closed

[2019-02-14 10:54] ririnicolae opened #36 "Improve design for expectation over transformations (EoT) integration with attacks"
**Is your feature request related to a problem? Please describe.**
Currently, expectation over transformation is specified as a parameter for each evasion attack. A more elegant design can be imagined, where one does not have to pass both the classifier and the EoT to the attack.

**Describe the solution you'd like**

Have EoT be a classifier wrapper. In that case, it would be used as follows:
[co

[2019-02-21 11:59] ririnicolae opened #37 "Adapt values for attack parameters to better defaults"
Some of the current default values for attack parameters are not the most appropriate as starting points. A few examples are:

- `max_iter=10000` as default: this value is very high and results in never ending attacks.
- `targeted=True` for attacks in the C&W family; this forces the user to pass target values when calling `generate` and will raise an error otherwise.
- `batch_size=128` is too high

[2019-03-06 16:09] ririnicolae opened #38 "Remove `Detector` abstract class and edit detectors to extend `Classifier`"

[2019-03-07 15:51] ririnicolae opened #39 "Implement Pickle capacities for classifiers"
**Describe the solution you'd like**
Provide `__setstate__` and `__getstate__` implementations for all classifiers in order to support serialization with pickle. To be determined if all frameworks can support this. The function can build on the pre existing `save` function from the `Classifier` API.

- [ ] Keras
- [ ] MXNet
- [ ] PyTorch
- [ ] TensorFlow

[2019-03-12 21:17] #38 closed

[2019-03-28 16:03] DorotaDR opened #40 "Generate Spatial Transformation attack"
Hi,
I am IBM intern.  I found a bug in Spatial Transformation Attack.

I tried to create an example of using **Spatial Transformation Attack**. After a lot of attemps with various factors I always get  NO **adversarial image (type of None)** without any error messages.

Part of the code I used:
The image is an image (np.array; shape: (1,224,244,3)), others variables are simple and common.
[code]

[2019-03-28 16:05] ririnicolae commented on #40
@DorotaDR, thanks for reporting this! We will try to reproduce the issue and get back to you.

[2019-03-28 16:13] ririnicolae commented on #40
About the parameters, the values that you use seem valid. `max_translation` should be in the range `[0, 100]`, while `max_rotation` in [0, 180]. I will clarify that in the documentation. However, when you create the `KerasClassifier`, the `(clip_min, clip_max)` values should be the maximum allowed data range, e.g., `(0, 255)` for ResNet50. Can you confirm that those are indeed the values you are u

[2019-03-28 16:27] DorotaDR commented on #40
So I used image - `np.array` with values from 0 to 1. The `clip_values` are also (0,1).  Parameters
`max_translation` is 10 and max_rotation is 30, so all in the range.

I used the same classifier for others attack (DeepFool) and it works.

[2019-03-28 17:39] ririnicolae commented on #40
Thanks for the additional clarifications, we'll look into it. As you said, all parameters look indeed valid.

[2019-03-29 01:53] beat-buesser commented on #40
@DorotaDR Could you please show the complete example script including the imports of packages and the definition of image_norm?

[2019-03-29 08:20] DorotaDR commented on #40
Yes, sure.
So I uploaded my notebook on Git.
https://github.com/DorotaDR/ART-notebooks/blob/master/Resnet50_and_SpatialTr_Attack.ipynb
I hope I have clearly described everything. Thanks for your help.

[2019-03-29 13:59] ririnicolae opened #41 "Error when running FGSM with pretrained ResNet50 in Keras"
Submitting this issue on behalf of Seema Nagar, who reported it on Slack.

**Describe the bug**
I am running into following issue when I am trying to use RestNet, VGG family of models for generate adversarial images using fast gradient.
Error message:
[code]

Here is the code snippet and error.

**To Reproduce**
[code]

[2019-03-29 14:46] beat-buesser commented on #40
Great, I'll take a look at it.

[2019-03-29 15:17] #41 closed

[2019-03-29 23:14] beat-buesser commented on #40
I have discovered two issues:

Issue 1: SpatialTransformation did return None because it was not able to fool the classifier. I have fixed that with #42 . In such cases it now returns the unchanged images.

Issue 2: In your notebook the classifier could not be fooled because the input images are not normalised appropriately for ResNet50, therefore it always returns the (almost) same prediction. Yo

[2019-03-30 07:30] #40 closed

[2019-04-01 10:31] #36 closed

[2019-04-14 13:20] cclauss opened #46 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-17 14:28] #46 closed

[2019-04-17 15:54] ririnicolae opened #47 "Add support for scikit-learn models"
Investigate to which extent models from scikit-learn can fit under the `Classifier` interface. Some features from the ART API might not be available for this framework. The analysis should cover what those features are. Similarly, if ART can only support some models from scikit-learn, a list of these should be provided.

Depending on the result of the analysis, the list of features to be implement

[2019-04-17 16:50] imolloy commented on #47
I can help with this one.

[2019-04-17 19:04] beat-buesser commented on #47
I'm interested to help

[2019-04-18 09:19] ririnicolae commented on #47
@beat-buesser @imolloy I think this is quite a big task, so I suggest you share responsibilities. One of you could perform the analysis discussed above. Based on that, you can split the implementation between you. Let me know what you think.

[2019-04-19 16:32] ririnicolae opened #49 "Adapt ART to feature vectors"
This requires multiple changes to all modules:

- [x] Allow `clip_values` to be `None` in all classifiers
- [x] Allow `clip_values` to have a different value per feature
- [ ] Similarly, change attack strength (often `eps`, `eps_step`) from just scalar to scalar or vector. If  a vector is provided, it should have the same size as the number of features. This is to allow attacks to be applied on fe

[2019-04-19 17:04] ririnicolae opened #50 "Adapt ART to other types of models than neural networks"
This mostly implies changing the way different backend implementations handle model outputs. In order to be effective, most attacks need to be applied at logits level. Some of the new models types ART will support do not have logits. The following describes the proposed solution for this problem:

- All backend `__init__` functions would have a flag specifying if the output of the given model repr

[2019-04-22 10:08] ririnicolae opened #51 "Implement low frequency adversarial perturbation strategy"
This is a black-box attack search strategy allowing to reduce the number of queries to a model by 2-4x. It is based on discrete cosine transform (DCT). This selection strategy can be combined with existing black-box attacks, e.g., the paper proves effectiveness with NES and boundary attack. This should be implemented as a wrapper if possible, to allow the usage with existing black-box attacks in A

[2019-04-23 10:31] minhitbk commented on #39
I will help on Pytorch and TF versions.

[2019-04-23 10:39] minhitbk commented on #50
I will help on Pytorch and TF classifiers.

[2019-04-23 13:40] imolloy commented on #47
@ririnicolae Completely agree. We should start with a list of the models we're interested in, e.g., classifiers, regression, etc. Next, there's a question about whether or not the existing sklearn interfaces are going to be sufficient, or if we need to be model-specific. For example, using the `fit`, `predict`, `predict_proba`, `transform`, `fit_transform` will be sufficient (implies blackbox atta

[2019-04-23 16:51] ririnicolae commented on #47
@imolloy I think classification is a good place to start, and we should at least be able to cover SVC & LogisticRegression, as you suggested. One of the questions at this point is: will we be able to extract gradients from scikit-learn? These would be vital for white-box attacks (`class_gradient` and `loss_gradient` in the `Classifier` API). But you're right, we can always limit the support to bla

[2019-04-24 16:00] ririnicolae opened #54 "Refactor computations required for logging"
Attack success rates are computed for logging purposes. Those computations are performed even if logging is deactivated. This should be refactored for the entire library.

[2019-04-26 14:08] #54 closed

[2019-04-26 14:33] ririnicolae opened #58 "Rename all test files to `*_tests.py`"
This is for simplicity purpose. The command for test discovery should also be updated.

[2019-04-29 10:47] ririnicolae opened #59 "Create example notebook investigating the performance of boundary attack"

[2019-04-30 15:34] ririnicolae opened #60 "Error in Zoo attack"
**Describe the bug**
Shape error in Zoo attack:
[code]
**To Reproduce**
CIFAR-10 dataset

[2019-05-02 13:12] mathsinn commented on #58
As per @imolloy 's suggestion, also move all unit test files into a separate folder.

[2019-05-02 14:23] imolloy commented on #47
Looking at the main modules and classes, this list might get us started. I don't think we'll be able to write a generic gradient function in a whitebox setting, but we can default to a blackbox approximation using something similar to ZOO or NES. We can try to computing gradients for some of the simpler classes and see how it goes.

- [ ]  sklearn.linear_model.{LinearRegression, LogisticRegression

[2019-05-02 14:48] ririnicolae opened #63 "Investigate models that were corrupted by git LFS"
See `models` folder.

[2019-05-02 23:21] cr019283 commented on #33
I came across exactly the same problem and would be interested in finding out if there is a solution (or way around) for models with Embedding layers.

[2019-05-03 09:18] ririnicolae commented on #33
@cr019283 The workaround would be to encapsulate in the model only the layers after the embedding. You would be able to run an attack end to end between the representation provided by the embedding and the output. For this setup, your embeddings would have to be treated as feature vectors. This is not currently supported in ART, so you would either have to tinker with the library code a bit or wai

[2019-05-03 21:07] beat-buesser commented on #47
Sounds good to me. I have created a new development branch `development_sklearn` and will start to build there prototypes for `sklearn.linear_model.LogisticRegression` to explore some of the challenges ahead.

[2019-05-06 11:40] beat-buesser commented on #47
I have pushed a prototype of a classifier for `sklearn.linear_model.LogisticRegression` to branch `development_sklearn` in 49a9429d5bfe10c464997f9a6a633cedae87c5e6.

The new notebook `sklearn_logistic_regression.ipynb` includes examples using the MNIST dataset and `art.attacks.projected_gradient_descent.ProjectedGradientDescent`.

So far I can see a few TODOs remaining and I'll continue working on

[2019-05-09 15:50] step8p commented on #33
Hello, any news about this?

[2019-05-09 16:11] ririnicolae commented on #33
@step8p PR for issue #49 will be in tomorrow, that would give you access to the same workaround that I suggested to @cr019283.

[2019-05-14 00:21] beat-buesser commented on #47
I have created a new development branch `development_sklearn_SVM` and started to implement support for Support Vector Machines.

[2019-05-14 10:06] ririnicolae opened #65 "Consistency error with wrappers when reusing a classifier"
The following code yields an error when the second attack is called:
[code]
Infinite loop error:
[code]
This is because wrappers have side effects. Here both wrappers replace the `predict` function of the same original classifier. Quick fix is to use two separate instances of classifiers, one per wrapper, but long term a better solution could be designed.

[2019-05-14 14:31] kenimou opened #66 "Tensorflow 2.0 Support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
It won't run when using tensorflow 2.0

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support tensorflow 2.0

Since TF 2.0 is coming and it's a great library that engineers and data scientists will switch to, it would be great

[2019-05-14 15:26] ririnicolae commented on #66
Hi, @kenimou! I think you are right, and ART will support TF 2.0 shortly.

[2019-05-14 15:26] ririnicolae commented on #58
Closed in #64.

[2019-05-14 15:26] #58 closed

[2019-05-14 15:32] shairoz opened #67 "Can't attack model with model with customized layers"
**Describe the bug**
Tried loading a keras model implement under(https://keras.io/examples/cifar10_resnet/) and attacking it using FGSM.
Model is read and the training/prediction works properly but when trying to attack the following error appears:
ValueError: Cannot feed value of shape (128,) for Tensor 'Placeholder_1815:0', which has shape '(?, 10)'

where 128 is the batch size.
This **does not

[2019-05-14 18:23] ririnicolae commented on #67
@shairoz Thanks for reporting this issue! We'll try to reproduce it on our side and will get back to you.

[2019-05-16 09:28] beat-buesser commented on #47
I started working on creating a classifier for `sklearn.svm.SVC`. This is a short list of items that I'm implementing:
- [ ] gradients for linear kernel
- [ ] gradients for polynomial kernel
- [ ] gradients for radial basis function kernel
- [ ] gradients for sigmoid kernel
- [ ] account for `sklearn.svm.LinearSVC`

[2019-05-16 09:55] ririnicolae commented on #50
The branch for these features is `other_models`.

[2019-05-16 10:31] ririnicolae commented on #60
Fixed in b0ecc55.

[2019-05-16 10:33] ririnicolae commented on #33
@step8p @cr019283 Feature vectors support is now on `dev` branch, will be on `master` and `pip` release next Monday.

[2019-05-16 13:54] ririnicolae commented on #67
@shairoz I am able to run the Keras model you mentioned and the FGM attack without issues. I am using the same Python, TF and Keras versions that you are. Could you please run the following script and let me know if you still get the error? FYI, the model is just compiled, not trained, but should be enough to reproduce the shape error.
[code]

[2019-05-16 14:07] ririnicolae commented on #39
PyTorch and TF pickling implemented in #68.

[2019-05-17 10:11] beat-buesser opened #70 "Minimise calls to method predict in attacks FastGradientMethod and BasicIterativeMethod"
**Describe the solution you'd like**
The method `predict` is expensive and we should call it only if necessary. For `num_random_init=1` we don't need to call `predict` and can significant save time.

[2019-05-20 15:35] ririnicolae opened #73 "Incorrect computation of perturbation budget in BIM / PGD with random init"
**Describe the bug**
When running FGM with random init, the random initialization step is applied, followed by an `eps` pertubation attack. This results in a final attack budget larger than `eps`, which is incorrect

**To Reproduce**
Steps to reproduce the behavior:
1. Run `FastGradientMethod` on MNIST with, e.g. `eps=0.3` and `random_init=1`.
2. Measure L_inf of perturbation introduced and observ

[2019-05-22 06:59] houxianxu opened #75 "The loss_gradient of PyTorch should be carried on logits instead of softmax outputs"
**Describe the bug**
The loss calculated in [loss_gradient](https://github.com/IBM/adversarial-robustness-toolbox/blob/267a6e6ec4d490e52c81986e91f933cea5670e15/art/classifiers/pytorch.py#L331) is based on the model_outputs[-1] and the corresponding label. However, the [model_outputs[-1]](https://github.com/IBM/adversarial-robustness-toolbox/blob/267a6e6ec4d490e52c81986e91f933cea5670e15/art/classif

[2019-05-22 13:02] WladimirDelaCadena opened #76 "GPU capability for keras classifier"
I have tried to run the Keras Classifier using gpu, however it seems to be non a default option as in keras. I found there is a param ctx for other classifier but for the Keras wrapper not. Is it possible to use gpu in this case?

[2019-05-22 13:35] #76 closed

[2019-05-22 13:36] WladimirDelaCadena commented on #76
Just realized that my setting were not monitoring the gpu usage. Indeed the model with Tensorflow backend uses GPU

[2019-05-22 15:59] minhitbk commented on #75
Hi @houxianxu :  Thanks alot for the issue you have opened. We have identified it and will fix it in the next few days.

[2019-05-23 17:00] WladimirDelaCadena opened #77 "Adversarial Patch size problem"
By running
`adv_patch = AdversarialPatch(classifier,patch_shape=(32, 32, 3), max_iter = 100)`
it turns out that patch_shape must have the same dimension as the input image. But in theory a patch could be smaller. Going into the source code the problem is by summing the image with the patch that is not done properly

[2019-05-23 18:37] ririnicolae commented on #77
@WladimirDelaCadena Thanks for identifying this issue, we'll look into it.

[2019-05-24 07:48] ririnicolae commented on #77
@WladimirDelaCadena Have you taken a look at our example for adversarial patch generation? https://github.com/IBM/adversarial-robustness-toolbox/blob/master/notebooks/adversarial_patch.ipynb The patch is indeed generated to the original input size of the classifier, but then you can apply it to any image with different scales. The attack has the method `apply_patch` for that. Let me know if the ex

[2019-05-24 07:49] ririnicolae commented on #73
FIxed in #74

[2019-05-24 07:49] #73 closed

[2019-05-24 07:49] ririnicolae commented on #70
Fixed in #74

[2019-05-24 07:49] #70 closed

[2019-05-24 09:12] WladimirDelaCadena commented on #77
@ririnicolae Thanks, yes indeed the apply_patch function scales the patch. I misunderstood the functionality respect to the paper. Then, maybe the patch_shape parameter is not needed. Since it must have certain dimensions, they can be taken from the input data properties

[2019-05-24 09:45] ririnicolae commented on #77
@WladimirDelaCadena Thanks for the suggestion, I believe you are right. We'll update the code to reflect this.

[2019-05-24 23:20] beat-buesser commented on #47
The ART classifier for `sklearn.svm.SVC` has now loss_gradients for `linear` and `rbf` kernels. Check out the PGD attack examples on Iris and MNIST datasets in [sklearn_svm_svc.ipynb](https://github.com/IBM/adversarial-robustness-toolbox/blob/development_sklearn_SVM/notebooks/sklearn_svm_svc.ipynb)

[2019-05-25 11:48] beat-buesser commented on #47
I have created a new development branch `development_decision_trees` for the exploration and development on decision tree classifiers from `sklearn.tree.DecisionTreeClassifier`, `XGBoost`, `LightGBM` and `CatBoost` and related `attacks` and `defenses`.

This is an interesting, very recent article on adversarial examples and robustness for decision trees: https://arxiv.org/abs/1902.10660

[2019-05-28 12:01] ririnicolae commented on #75
This issue will be solved later this week by the solution for epic #50.

[2019-05-28 17:41] step8p commented on #33
I saw that now this should be supported. However, I'm still trying to figure out how to exactly do it. Is there any example? Moreover, if I got it correct, this means that I can attack any of the layers, right?

[2019-05-29 07:32] #77 closed

[2019-05-29 07:34] ririnicolae commented on #33
@step8p I'll try to put together an example for this. And yes, on principle you can attack any of the layers.

[2019-05-29 10:58] step8p commented on #33
Given an already trained keras model "model" and a test dataset "x_test, y_test", i wrote this (and it seems working)

[code]

obtaining

[code]

Does this sounds correct to you or do you see something strange?

[2019-05-29 11:17] ririnicolae commented on #33
@step8p Example looks good to me. The only thing I would change is completely remove the `clip_values` from the `KerasClassifier`: it's hard to tell if the features in the embedding space would actually be in the (0, 1) range, and adding this constraint will clip them during the attack. `clip_values` were mandatory so far in ART, but since the feature vectors extension you can omit them altogether

[2019-05-29 16:02] step8p commented on #33
I think you are totally right about the clip_values. I tried to remove it and I confirm that it works. About the example, I can not share the very same example because it's based on private data, but, if this works for you, I can realize an example showing how to adversarially perturb one of the conv layer in the middle for the mnist example

[2019-05-29 16:17] beat-buesser opened #80 "Implement attack: "Boundary Attack++: Query-Efficient Decision-Based Adversarial Attack""
Paper link: https://arxiv.org/abs/1904.02144

[2019-05-29 16:21] beat-buesser opened #81 "Check Boundary Attack initialised with target class"
As discussed with @minhitbk: Check behaviour of Boundary Attack initialised with image of the target class. Does the attack still work or do we provide a useful warning to the user.

[2019-05-30 13:53] imolloy opened #83 "Sunset Support for Python2"
**Is your feature request related to a problem? Please describe.**
Support for Python2 is reaching end of life in 2020, and many packages ART depends on,  such as TensorFlow, NumPy, SciPy are dropping support. See the [Python 3 Statement](https://python3statement.org/) for more.

**Describe the solution you'd like**
Drop support for Python2 and perform a small code cleanup.

**Describe alternative

[2019-05-31 19:57] beat-buesser opened #84 "Compatibility of defence JpegCompression with classifier's preprocessing (standardisation)"
**Is your feature request related to a problem? Please describe.**
- In classifer.predict we are applying the classifier's preprocessing before applying the defences.
- Most of the common classifier preprocessing values for standardisation result in pixel values outside of [0, 1].
- The defence `JpegCompression` expects inputs `x` to be in the range [0, 1] and clips inputs `x` to this range [0, 1]

[2019-05-31 19:57] beat-buesser commented on #84
@ririnicolae @mathsinn What do you think?

[2019-05-31 23:58] step8p commented on #33
This should do the job
[code]

[2019-06-02 11:10] ririnicolae commented on #33
@step8p Thanks for taking the time to adapt the example. Do you want to PR it yourself or do you prefer I do so?

[2019-06-02 11:19] ririnicolae commented on #84
A few of the defenses were implemented for the [0, 1] range for simplicity or because that's how the authors were doing it. Ideally, these should be generalized to any range. We've already done this for some of them.

Also, I think there is a strong reason to not do normalization after the defenses, as it would remove the effect of some of the defenses. Moreover, it would not really solve the prob

[2019-06-02 11:21] ririnicolae commented on #59
Fixed in #79.

[2019-06-02 11:21] #59 closed

[2019-06-02 17:46] beat-buesser commented on #84
@ririnicolae Thank you, this is very helpful.

We are doing some performance testing experiments on the defence strengths that have revealed this issue, because of that we have comprehensive testing cases in place and have already implemented some fixes for this issue that we can share soon. Therefore I think I'm close to a working solution. But it would be great if we could ask you for a review l

[2019-06-02 18:37] ririnicolae commented on #84
@beat-buesser Sure, feel free to assign PR reviews to me whenever you need.

Yes, because the defenses can be in any order in the list, I'm thinking the best is to have all of them be able to run on any input ranges (to the extent where it's feasible), that would cover the most general case. Looking forward to the PR. :)

[2019-06-02 19:20] ririnicolae commented on #67
Closing, feel free to reopen if relevant.

[2019-06-02 19:20] #67 closed

[2019-06-04 12:22] beat-buesser commented on #47
Progress with tree-based classifiers:

- [x] sklearn.tree.DecisionTreeClassifier
- [ ] sklearn.ensemble.{RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier},
- [x] XGBoost
- [x] LightGBM
- [x] CatBoost

[2019-06-05 09:47] minhitbk commented on #84
The reason we need clip_values=(0, 1) for JpegCompression is that we need to convert x to the range (0, 255) for doing compression. I think its not hard to generalize clip_values to any range given that we open one more parameter input to the init function for passing clip_values.

[2019-06-05 13:41] beat-buesser opened #85 "PGD and BIM are not correctly accounting for eps on branch dev"
**Describe the bug**
In BIM and EPS attacks the projection to eps is done with respect to previous iteration's adversarial sample instead of initial benign sample.

[2019-06-05 13:51] beat-buesser commented on #85
After discussing with @mathsinn : This issue only affects the branch `dev`

[2019-06-05 22:38] beat-buesser commented on #47
All new classifiers and example notebooks have been merged to branch `development_sklearn`. There development will continue to implement unit tests and improve notebooks.

[2019-06-06 15:20] ClonedOne opened #87 "Implement progress bar in ART"
**Describe the bug**
The `fit()` method of AdversarialTrainer using BasicIterativeMethod attack produces an absurd amount of progress bars on the output, both in terminal and in Jupyter notebooks.

Having so much stuff on output will probably reduce performance.

ps: passing `**{'verbosity':0}` to fit will remove *all* output, which is very impractical.

**To Reproduce**

[code]

**Expected behavi

[2019-06-06 16:08] beat-buesser commented on #87
Hi @ClonedOne, thank you for your useful suggestions, we'll try to consider them as soon as possible.
Would you have a commit or code ready to resolve this issue?

[2019-06-07 01:17] ClonedOne commented on #87
Hi @beat-buesser, thanks for answering, I couldn't identify where the verbose logging originated, but I'll try to take a deeper look in the weekend

[2019-06-07 01:19] jinglin80 opened #88 "adversarial-training-mnist.ipynb does not able to read the mnist_cnn_original.h5"
Using Jupyter notebook to run adversarial-training-mnist.ipynb, the model mnist_cnn_original.h5 (in models) folder cannot open. Strangely, the mnist_cnn_original.h5 has only 132 bytes. This is not likely the size of a model file.

[2019-06-07 05:10] ririnicolae commented on #88
@jinglin80 Thanks for reporting this issue. It is related to #63 and we're working on solving it. Meanwhile, a quick fix for you would be to get the model from an older version where the model is not corrupted (say, 0.6.0).

[2019-06-07 05:18] ririnicolae commented on #87
@ClonedOne ART does not have any progress bar of its own, so the ones you are seeing are from Keras. For the case of adversarial training, it is normal to see so many of them, as each time the classifier is trained for one epoch before generating fresh adversarial samples for the next epoch. To deactivate them, it is enough to set `verbose` to 0 when the `AdversarialTrainer` calls `fit`.

@beat-bu

[2019-06-07 09:59] beat-buesser commented on #87
Hi @ririnicolae Thank you for the insights and ideas. Are you aware if we have already a feature request open for the single progress bar idea that we could reference here?

I think with `nb_epochs` we have a good idea of the overall progress of `fit`.

I agree with @ClonedOne that if setting `**{'verbosity':0}` removes all output it would be nice to be logging something else, e.g. the discussed s

[2019-06-07 17:39] metaluga145 opened #89 "PyTorch adversarial attack strange behavior"
**Describe the bug**
Modified example produces strange output. Please see code and images below.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code below
2. Save produced adversarial images from test set
3. See produced outputs

[code]

**Expected behavior**
The adversarial example is expected to have smaller perturbation magnitude and be similar to Keras version.

**Screenshots**

[2019-06-07 20:15] jinglin80 commented on #88
Thank you for the quick reply. Though the model is ok now, KerasClassifier is reporting the following error.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-3-ef6fe94c52ed> in <module>
      1 classifier_model = load_model("../models/mnist_cnn_original.h5")
----> 2 classifier = K

[2019-06-08 16:53] ririnicolae commented on #88
@jinglin80 Could you try to change the faulty line to the following:
[code]
and let me know if it's fixed?

[2019-06-08 16:56] ririnicolae commented on #87
@beat-buesser There is no open issue for the progress bar, we could change the scope of the current one to cover progress bars for the entire library (attacks, defenses, training, etc.) if @ClonedOne is fine with that?

[2019-06-08 17:22] #85 closed

[2019-06-08 17:24] ririnicolae commented on #89
@metaluga145 Thanks for reporting this, we'll look into it! What is the test accuracy obtained by your model after training on clean samples?

[2019-06-09 06:14] metaluga145 commented on #89
@ririnicolae Test accuracy after training on clean samples is 97.43%.
Test accuracy on adversarial sample: 89.40%

[2019-06-09 16:11] jinglin80 commented on #88
Yes, it is fixed. Thank you!

[2019-06-09 21:19] ClonedOne commented on #87
@ririnicolae Yes a single library-wide progress bar sounds like a nice solution! Please let me know if I can help with testing

[2019-06-10 07:38] ririnicolae commented on #87
@ClonedOne Perfect, your help will be very useful for testing.

Re-purposing this issue then. Options for implementing this:

- In-house solution
- External, adding dependency:
  * [`tqdm`](https://github.com/tqdm/tqdm)
  * [`progress`](https://pypi.python.org/pypi/progress)
  * [`python-progressbar`](http://code.google.com/p/python-progressbar/)

The choice depends on which of these is able to se

[2019-06-10 08:43] step8p commented on #33
Sorry @ririnicolae, I read this just now. Yes, I can do it

[2019-06-10 10:46] step8p commented on #33
I'm not totally sure of how to do it. Should I first create the file in the examples folder and then PR it, or open a PR in the main folder?

[2019-06-10 12:19] ririnicolae commented on #33
@step8p The easiest is probably to fork the repo and add your commits to the `dev` branch on your fork. Once you push them to your fork on GitHub, you'll get the option to open a PR on the main repo. Use the GitHub interface to open your PR to the `dev` branch. :) Oh, and don't forget to sign your commits with `-s`. Let me know how it goes!

[2019-06-10 12:38] step8p commented on #33
Did it (but not sure if in the correct way XD)

[2019-06-10 17:17] ririnicolae commented on #33
@step8p Did you submit the PR? I can't say I see it. :)

[2019-06-10 20:00] beat-buesser opened #90 "Change Basic Iterative Method (BIM)"
The current implementation of the Basic Iterative Method asks for a value of `eps` but does not project to eps.

After discussing with @mathsinn we think that BIM should be implemented as a special case of PGD using no random initialisation (`num_random_init=0`) and `norm=np.inf`.

[2019-06-11 10:26] step8p commented on #33
Probably I did it in the wrong way. [This ](https://github.com/step8p/adversarial-robustness-toolbox/pull/1)is the link. Can I fix it somehow? Sorry for that :(

[2019-06-12 05:44] ririnicolae commented on #33
@step8p I can see the PR through the link that you provided, it is directed from a feature branch of your fork to the `dev` branch of the fork as well. Could you change the target of the PR from your `dev` to the `dev` in this repo?

[2019-06-13 12:23] step8p commented on #33
Did it (hope in the correct way this time).

Btw, going back to the "clip values" point, a colleague of mine (IMHO correctly) suggested that the lower bound for the perturbation should be 0, since it has been injected (at least in the example) after a relu, so the perturbation should not add negative values.

[2019-06-14 06:00] ririnicolae commented on #33
@step8p PR looks good, please take a look at the review comments! About the `clip_values`, you would normally not know much about the values in the embedding space, but I guess for the given example it makes sense to set the lower bound on `clip_values` at 0 if this comes just after the `relu`.

[2019-06-19 12:40] beat-buesser opened #94 "Update unit testing versions of Tensorflow"
I would like to propose to change the versions of Tensorflow in our unit tests. Currently we are testing with Tensorflow 1.5, 1.7 and 1.10.

Are there any reason against changing these versions to 1.12 and 1.13?

[2019-06-19 13:25] beat-buesser commented on #80
`Boundary Attack++` has recently been renamed to `HopSkipJumpAttack`: A Query-Efficient Decision-Based Attack

[2019-06-19 20:44] beat-buesser opened #95 "Travis reports job passing although unit tests failed"
It seems that Travis reports build jobs as passing although unit tests report errors, e.g.:
https://travis-ci.org/IBM/adversarial-robustness-toolbox/jobs/547884245

[2019-06-19 20:51] ririnicolae commented on #95
@beat-buesser I had also noticed this recently. This happens because the unit tests are launched through multiple commands and Travis only catches the code from the last command that ran. I have a potential fix that chains the commands in order to transmit all the exit codes to Travis. Are you working to fix this or should I?

[2019-06-19 20:54] ririnicolae commented on #94
Works for me. Do we have any info about what TF version users have in practice?

[2019-06-19 21:22] beat-buesser commented on #95
@ririnicolae I have just pushed a possible solution. Sorry, I didn't see your response before pushing. Let me know if you have a more elegant solution.

[2019-06-20 11:44] beat-buesser commented on #95
The unit tests seem to again get analysed correctly by Travis.

Following this, I have discovered two unit tests (below) that are faiingl since #68 which has been merged a few days after this bug has been introduced. It seems pickling of pytorch and tensorflow classifiers is failing for python2. Since we don't plan to close #83 (sunset python2 support) before the next release I'll take a look at f

[2019-06-21 10:26] beat-buesser commented on #95
Another unit test related to this issue fixed in 0685ebdabe3203c36cd8db1eab6f52b6e497304a as part of #93 :

[code]

[2019-06-21 11:51] WladimirDelaCadena opened #96 "Unnecessary calculation of gradient of all instances in Adversarial Patch"
In the `generate(self, x, y=None):` of the Adversarial Patch attack the following line calculates the gradient for the whole x vector, which contains ALL training instances:
 `gradients = self.classifier.loss_gradient(patched_images, to_categorical(np.broadcast_to(np.array(self.target), x.shape[0]),                                                                   self.classifier.nb_classes))`
How

[2019-06-21 15:09] beat-buesser commented on #96
Hi @WladimirDelaCadena Thank you bringing this to our attention.

We are very interested in improving the performance of ART and will try to look at it as soon as possible. It is possible that the `AdversarialPatch` code has been only tested with a small `x` so far.

Did you already try to fix it by adapting the size of `x` accordingly?

[2019-06-21 15:15] WladimirDelaCadena commented on #96
Well, I set batch_size to the total length of my training set. But that does not scale with many instances. Indeed now it works, but I think the function is not properly implemented since the gradients should be calculated among all training instances. I am doing a loop iterating over the batches, to calculate the gradients for all and accumulate in the patch without scaling problems. But I do not

[2019-06-21 15:18] beat-buesser commented on #96
I agree with your observation, it looks like in the current version there is the implicit assumption that `x` has the size of `batch_size`. I think a loop breaking up x into separate batches might be required here.
Would you be willing to share your solution once it's final?

[2019-06-21 15:21] WladimirDelaCadena commented on #96
Yes, I will share it on this issue as soon as I have it

[2019-06-21 15:22] beat-buesser commented on #96
That's great! Do you mind if I assign this issue to you?

[2019-06-21 15:24] WladimirDelaCadena commented on #96
No problem

[2019-06-25 12:34] WladimirDelaCadena commented on #96
I used this for my solution, I hope it can help

[code]

[2019-06-25 13:49] beat-buesser commented on #96
That's great! Thank you very much for sharing your solution.

Would you like to make a commit and pull request to merge your solution into our `dev` branch?

[2019-07-03 14:59] marcoancona opened #101 "Carlini methods do not affect the images [Keras/Tensorflow]"
**Describe the bug**
It seems that Carlini methods do not produce any adversarial examples using Keras 2.2.4 and Tensorflow backend 1.12.0 (adversarial example are identical to original examples)

**To Reproduce**
Steps to reproduce the behavior:
Use Keras 2.2.4 and Tensorflow 1.12.
Run the example reported below.

**Expected behavior**
Accuracy of the model evaluated with adversarial example shou

[2019-07-03 17:27] beat-buesser commented on #101
Hi @marcoancona Thank you for opening this issue and for the detailed test script. We will try to reproduce and fix it as soon as possible.

[2019-07-03 18:33] mathsinn commented on #101
@marcoancona One thing that strikes me in your example is the very large `confidence` value and relatively small number for `max_iter`. Have you tried different values? @beat-buesser I suggest to also try that in your inquiry.

[2019-07-03 21:23] marcoancona commented on #101
Yes I tried different combinations and up to 40 iterations. I also tried the default parameters (but with a non-targeted attack) and the result seems to be the same

[2019-07-04 22:45] beat-buesser commented on #101
@marcoancona @mathsinn I did some runs of the test script above. My only changes are reduceing the `confidence` for different `max_iter` and I got the results below. It looks like `CarliniL2Method` works fine.

`attacker = CarliniL2Method(classifier, targeted=False, confidence=0, max_iter=50, learning_rate=0.1)`
L2 dist adv:  902.9391
Adv. Test accuracy: 0.11

`attacker = CarliniL2Method(classifie

[2019-07-05 08:56] marcoancona commented on #101
Oh, indeed it works for me as well with these parameters. Sorry, my bad for not having done a more exhaustive parameters search. On the other hand, the [documentation](https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/attacks.html#carlini-and-wagner-l-2-attack) says

I see the exact opposite behavior running this test:
[code]
[code]
Does the effect of `confidence` depend on t

[2019-07-05 08:58] #101 closed

[2019-07-08 12:47] minhitbk opened #105 "Apply batch_size of attack to classifier."
**Describe the bug**
Currently in every attack, there are several calls to classifier's predictor without specifying batch_size, i.e. using the default batch_size of the predictor (128). This leads to OOM error in some cases. So we need to pass batch_size of the attack to those call.

[2019-07-08 12:59] minhitbk opened #106 "Generalize Pytorchclassifier to support loss function on logit"
Currently, the Pytorch classifier only support loss functions that operate on the softmax output. We need to generalize the Pytorch classifier so that it will also support loss functions that are based on the logit output.

[2019-07-08 13:55] beat-buesser commented on #66
I have created a new branch `development_tensorflow_2_0` to start testing and developing for Tensorflow 2.0

[2019-07-08 16:38] jinglin80 opened #109 "Update (path to) imagenet labels in notebook attack_defense_imagenet"
I try to run the notebook example: detector-for-CIFAR10. However, CIFAR10 cannot be loaded.
Following is the code and the error:
(x_train, y_train), (x_test, y_test), min_, max_ = load_dataset('cifar10')

class_descr = ['airplane', 'automobile', 'bird', 'cat', 'deer', 'dog', 'frog', 'horse', 'ship', 'truck']
---------------------------------------------------------------------------
UnpicklingErro

[2019-07-08 18:36] beat-buesser commented on #109
Hi @jinglin80 Thank you for raising this issue.

Please try running the notebook one the branch `dev`.

This issue is the same as #63. We have already fixed it on branch `dev` with #98. We will soon update branch `master`.

[2019-07-08 19:37] ririnicolae commented on #106
@minhitbk Is this the same as issue #75?

[2019-07-08 19:52] ririnicolae commented on #49
I think this issue is ready to be closed. An example of usage for feature vectors is provided in PR #92. The item on having per-feature values for attack strenghts `eps` should probably be further discussed and addressed in a separate issue.

[2019-07-08 19:52] #49 closed

[2019-07-09 11:25] jinglin80 commented on #109
I run the notebook on the branch dev. However, I got the same error message. The CIFAR-10 dataset cannot be loaded properly.

UnpicklingError                           Traceback (most recent call last)
<ipython-input-2-f43aa2fb3c25> in <module>
----> 1 (x_train, y_train), (x_test, y_test), min_, max_ = load_dataset('cifar10')
      2
      3 num_samples_train = 100
      4 num_samples_test = 100

[2019-07-09 11:53] beat-buesser commented on #109
I'm not able to reproduce your error message. The notebook runs fine on branch `dev`.

Please try cleaning your ART data directory ~/.art/data/. Maybe your previous download got corrupted.

[2019-07-09 16:21] minhitbk commented on #106
@ririnicolae Thats fine, if you already fix it, then we can skip this issue.

[2019-07-10 00:53] jinglin80 commented on #109
Could it because I do not have torch == 0.4.0 as required in test_requirements.txt?

[2019-07-10 09:04] beat-buesser commented on #109
I think the torch version should not be a problem here.

Which version of Python are you using?
Could you please show the output of `ls -lh ~/.art/data/`?

[2019-07-10 12:47] jinglin80 commented on #109
The problem solved!!! Thank you.

However, when I run the notebook attack_defense_imagenet, I got following
error:

[image: image.png]

On Wed, Jul 10, 2019 at 5:04 AM Beat Buesser <notifications@github.com>
wrote:

[2019-07-10 15:45] beat-buesser commented on #109
How did you solve it?

[2019-07-10 15:47] beat-buesser commented on #109
I cannot see the image in you previous message. Could you please upload the image or its message again?

[2019-07-10 15:47] jinglin80 commented on #109
I delete the old version, reinstall dev version, and clear ~.art/data.

On Wed, Jul 10, 2019 at 11:45 AM Beat Buesser <notifications@github.com>
wrote:

[2019-07-10 15:53] jinglin80 commented on #109
Here you goes.

The code (from attack_defense_imagenet notebook) I run:
from os.path import join, abspath, expanduser

# Get Imagenet labels
path = expanduser('~/git/nemesis')
with open(join(path, "imagenet/labels.txt"), "r") as f_input:
    class_names = eval(f_input.read())

# Get some data
image_file = join(path,'test_api/clean100/n04479046_2998_224x224.jpg')
image_ = image.load_img(image_file,

[2019-07-10 16:32] beat-buesser commented on #109
Thank you! This is indeed an error. It looks like the file with the imagenet class names got lost.

I'll rename this issue accordingly and try to fix it soon.

[2019-07-10 18:27] beat-buesser commented on #109
@jinglin80 I have fixed the notebook on branch `development_issue_109`. If you have time, please let me know if it works for you.

[2019-07-13 00:02] #63 closed

[2019-07-13 00:02] #88 closed

[2019-07-13 00:02] #90 closed

[2019-07-13 00:02] #95 closed

[2019-07-13 00:02] #96 closed

[2019-07-13 00:08] #109 closed

[2019-07-13 00:08] #105 closed

[2019-07-13 00:09] #94 closed

[2019-07-13 00:09] #84 closed

[2019-07-13 00:09] #83 closed

[2019-07-13 00:11] #37 closed

[2019-07-13 00:11] #33 closed

[2019-07-13 19:39] beat-buesser commented on #89
Hi @metaluga145 Sorry for the late response. I did a test run with the script above and noticed that the `PyTorchClassifier` does not have the argument `clip_values` set while the `KerasClassifier` does have it. Without `clip_values` the attack can generate adversarial images outside of the pixel range [min_, max_]. If I set `clip_values=(min_, max_)` in the `PyTorchClassifier` I get results compa

[2019-07-13 19:39] #89 closed

[2019-07-13 19:43] #80 closed

[2019-07-15 13:02] robo-sq opened #114 "Adding Randomized Smoothing functionality"
Adding smoothing functionality for predict function according to the paper: https://arxiv.org/pdf/1902.02918.pdf

Add smoothing as a new wrapper class.

[2019-07-16 14:10] KaGrosse opened #115 "Implement decision tree attack by Papernot et al. (https://arxiv.org/abs/1605.07277)"
Given that ART is extended to spicy classifiers and non-DNN models, it would be great to have specific attacks.

[2019-07-16 14:13] KaGrosse opened #116 "Implement attack on Gaussian Processes to ART (https://arxiv.org/abs/1812.02606)."
Given the interest in Bayesian uncertainty and that ART is extended to non-DNN classifiers, it would be great to have this attack in ART as well.

[2019-07-20 10:30] ririnicolae opened #120 "Invalid values in KL divergence computation of VAT"
**Describe the bug**
This issue was discovered during the development for #75. Because the model predictions / logits can be negative, the computation of the KL divergence in virtual adversarial method can yield invalid values (`nan` and `inf`), preventing the method from producing meaningful results.

**System information (please complete the following information):**
 - OS: Ubuntu
 - Python vers

[2019-07-23 20:32] ririnicolae commented on #50
Closed in #119.

[2019-07-23 20:34] ririnicolae commented on #75
Fixed in #119 (on `dev` branch). Loss function can now be specified by the user for `PyTorch` classifier and will be applied directly on the output of the model.

[2019-07-23 20:34] #75 closed

[2019-07-23 20:36] ririnicolae commented on #106
Fixed in #119 (on `dev`). The loss function provided by the user is applied directly on the output of the model. If the model has logits as output, the loss will be computed on that.

[2019-07-23 20:36] #106 closed

[2019-07-24 13:41] #50 closed

[2019-07-26 09:59] beat-buesser opened #123 "Create new ART classifier for remote models"
Create a ART classifier that does not require the classifier model but only an interface to its predictions

[2019-07-26 10:16] beat-buesser commented on #123
This issue has already been assigned.

[2019-07-29 11:57] robo-sq commented on #123
Hi, could you please assign this issue to me? :)

[2019-07-30 21:13] beat-buesser opened #124 "Add robustness verification/metric for tree-based classifiers"
Paper links:
- https://arxiv.org/abs/1906.03849
- https://arxiv.org/abs/1906.03526

[2019-07-31 21:14] ririnicolae opened #126 "Incompatibility between ART API for DataGenerators and standard PyTorch data loaders"
Existing standard PyTorch data loaders return ordinal encoded labels, as is usual practice for this framework. ART `DataGenerators` expect / assume one-hot encoded labels. For this reason, the standard data loaders can't be wrapped under the `PyTorchDataGenerator` class.

Changing `PyTorchDataGenerator` to accept ordinal labels would break the ART API and would require verifying the format of the

[2019-08-01 08:15] GuanlinLee opened #127 "HopSkipJump is very slow when attacking pytorch models"
I try to use HopSkipJump to attack a ResNet model based on PyTorch 1.0.
But I find that I spend about 6 hours waiting for the result, this attack didn't finish even one batch which I set 200 MNIST images in. BTW, I implied this attack on RTX Titan.
Is this normal? I try to use the default HopSkipJump config firstly and then I reduced the max_eval from 10k to 100, but it still worked slowly (one ba

[2019-08-01 08:32] mathsinn commented on #127
Hi @GuanlinLee

Thank you for raising this issue. Did you have a look at this notebook: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/notebooks/hopskipjump_attack.ipynb

It could give you some guidance on parameters that we found work well on ResNet.

[2019-08-01 09:12] GuanlinLee commented on #127
@mathsinn Thanks a lot for this useful notebook. I try to set the params of the HopSkipJump as 'max_iter=0, max_eval=1000, init_eval=10' and find it does attack much faster than before. But I read the paper [https://arxiv.org/pdf/1904.02144.pdf](url). In the codes responding to this paper, they used params as 'max_iter=64, max_eval=10000, init_eval=100'. I want to know whether it is important to u

[2019-08-01 21:52] mathsinn commented on #127
@GuanlinLee The more iterations you run, the smaller will be the norm of the perturbation. If you look at Figure 3 in that paper, you can see that with more than 2K queries (on MNIST), the norm only slightly decreases. Presumably in their code, the authors chose an extremely large number of iterations beyond which they didn't observe any practical decrease of the norm anymore.

I'm closing this is

[2019-08-01 21:52] #127 closed

[2019-08-02 20:01] ksivaman opened #128 "Pytorch examples"
**Description**

It is extremely difficult to start using the toolbox just by looking at the docs or the source code . The examples given in the *examples* folder seem to be extremely useful. However, all the files in the *examples* folder are using Keras or Tensorflow. Support for other popular frameworks such as Pytorch would be extremely useful.

[2019-08-03 11:46] beat-buesser commented on #128
Hi @ksivaman , thank you very much for using ART and for your great suggestions! Indeed we'll try to provide additional examples including Pytorch  very soon to facilitate getting started with ART.

In case you have by now already a working Pytorch example created by yourself, we would be very happy to include it in ART?

Please feel free to also join our Slack channel following the instructions o

[2019-08-03 21:56] mathsinn commented on #128
@ksivaman I'd suggest to take a look also at some of the unit tests, e.g. https://github.com/IBM/adversarial-robustness-toolbox/blob/master/tests/classifiers/test_pytorch.py

They give an idea how to wrap Pytorch models for usage in ART. Note that, once you've wrapped your models in an ART classifier, the application of attacks, defences etc. is the same regardless of the backend framework you're

[2019-08-04 00:54] ksivaman commented on #128
I have made a PR for a pytorch example @beat-buesser .

[2019-08-04 21:18] beat-buesser commented on #128
@ksivaman That's great, thank you very much! Your contribution will be helpful to many Pytorch and ART users. I'll merge #129 as soon as possible.

[2019-08-05 15:43] jinglin80 opened #130 "mnist_transferability example error"
while trying to run the mnist_transferability example, the following error occurs:

Traceback (most recent call last):
  File "/data/jinglin/adversarial-robustness-toolbox/mnist_transferability.py", line 83, in <module>
    # Construct and train a convolutional neural network
  File "/data/jinglin/adversarial-robustness-toolbox/mnist_transferability.py", line 47, in cnn_mnist_tf

TypeError: __init

[2019-08-05 17:57] beat-buesser commented on #130
Hi @jinglin80 Thank you very much for bringing this to our attention. This example was not updated with the latest release, it is not an error in ART. I have pushed a fix to master branch.

[2019-08-05 17:57] #130 closed

[2019-08-05 19:36] #128 closed

[2019-08-08 03:03] lea4n opened #133 "mnist_poison_detection.py example error"
**Describe the bug**
When run the "mnist_poison_detection.py", an error "TypeError: __init__() got multiple values for argument 'model'" occurs in line 69,     classifier = KerasClassifier((min_, max_), model=model).

**System information (please complete the following information):**
 - OS: Ubuntu 16.04.1 LTS and kernel is 4.4.0-57-generic
 - Python version: 3.7.3(Anaconda)
 - ART version or comm

[2019-08-08 09:32] beat-buesser commented on #133
Hi @lea4n Thank you for bringing this to our attention and especially for already providing the solution with#135. We'll also check all the other examples and update them.

[2019-08-08 13:58] beat-buesser commented on #133
Closed with #135

[2019-08-08 13:58] #133 closed

[2019-08-09 00:21] beat-buesser commented on #124
We are using branch `development_robustness_metric` for this development.

[2019-08-09 00:22] beat-buesser commented on #124
We have added XGBoost with 67a9f367824dc76a9e5fb72a08e07ea605e538c0

[2019-08-09 00:31] beat-buesser commented on #124
We will continue with exploring/adding support for:
[ ] `LightGBM`
[ ] `CatBoost`
[ ] `sklearn.tree.DecisionTreeClassifier`
[ ] `sklearn.ensemble.GradientBoostingClassifier`
[ ] `sklearn.ensemble.RandomForestClassifier`
[ ] `sklearn.tree.ExtraTreeClassifier`
[ ] `sklearn.ensemble.ExtraTreesClassifier`
[ ] classifier interface for tree-based mdoels

[2019-08-13 16:37] KaGrosse opened #137 "Add descriptions and references on limitations of implemented defences"
**Is your feature request related to a problem? Please describe.**
It would be great of user knew when using defenses if and to what degree they have been broken.

**Describe the solution you'd like**
Add the links of papers that broke implanted defenses to the implementation of the defense.

**Describe alternatives you've considered**
None.

**Additional context**
Add any other context or screens

[2019-08-15 15:49] robo-sq opened #138 "Variable prediction output when learning parameter is set in keras classifiers"
Variable predictions when learning parameter is set in keras classifiers, k.set_learning_phase(1).
Only affects notebooks: mnist_poisoning_demo and randomized_smoothing_mnist and examples: cifar_adversarial_training.py, mnist_cnn_features_level_fgsm.py, mnist_cnn_fgsm.py, mnist_poison_detection.py.

[2019-08-17 14:55] ksivaman opened #140 "Examples Readme.md not up to date"
The Readme.md file under the examples tab does not contain information about all the examples in the folder.

[2019-08-19 20:28] beat-buesser commented on #140
@ksivaman Thank you! We will update it with the upcoming release.

[2019-08-21 02:54] XiaodanLi001 opened #141 "Any examples for art.metrics?"
Do you have any examples for art.metrics to evaluate model robustness?

[2019-08-21 10:03] beat-buesser commented on #141
Hi @XiaodanLi001 I don't think we have a specific example for ART's robustness metrics so far. We will definitely consider adding one for the upcoming release. Pleas also take a look a the documentation of 'art.metrics' (https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/metrics.html) and let us know if you have specific questions.

[2019-08-21 10:39] mathsinn commented on #141
@XiaodanLi001 You could also take a look at the metrics unit tests: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/tests/test_metrics.py

They show case, on simple examples, how to obtain metrics e.g. for empirical robustness, CLEVER etc.

[2019-08-22 21:49] ksivaman opened #142 "Classifier model parameter not trained."
I noticed that when using the art pytorch classifier interface and supplying our own model (via parameter model=my_model) , my_model does not really get trained if you save and load the state dict of the model even after applying the '.fit' method. Is there any way to save the trained pytorch model and load it instead of saving the art interface of pytorch classifier?

And if I do save the art int

[2019-08-23 02:30] ksivaman commented on #142
I found how to load it by looking at the source code. It's a bit counter intuitive to save the art classifier as a torch model. I suggest making that a little more clear by including it in the docs maybe.

[2019-08-23 02:30] #142 closed

[2019-08-23 12:32] beat-buesser commented on #142
Hi @ksivaman Thank you for the suggestion!

[2019-08-29 10:59] fahad92virgo opened #148 "clipping of adversarial examples missing in PGD attack"
**Describe the bug**
For the projected gradient descent attack, we need to perform two projections.
1) ensure that the perturbation do not exceed the maximum allowed perturbation
2) ensure that the resulting adversarial example is in the valid image range.

In the current implementation, the second projection is missing. I was getting very different results for the robustness accuracy to a PGD att

[2019-08-29 12:12] beat-buesser commented on #148
Hi @fahad92virgo Thank you for describing your observation. We will look at it as soon as possible. Would it be possible for you to share a short code section of how you are using PGD so that we can reproduce it?

[2019-08-29 21:55] beat-buesser commented on #148
Hi @fahad92virgo I have compared PGD of ART and TRADES on the same datasets using pgd_attack_cifar10.py and pgd_attack_mnist.py of TRADES and I have obtained numerically identical results in terms of error and adversarial pixel values for MNIST and CIFAR10 using the default `eps` and `step_size` values of TRADES. In my tests all adversarial samples had all pixel values within the `clip_values` and

[2019-08-29 21:55] #148 closed

[2019-09-05 19:12] robo-sq opened #152 "Add black box example for Tesseract OCR"
Add a demo notebook to show an example of using the remote classifier feature on an open source API (Tesseract OCR)

[2019-09-09 09:21] minhitbk opened #157 "Investigate vector support issue with VAT"
**Describe the bug**
The test_iris_pt and the test_iris_tf get the same error in the unittest of VAT so
they was commented out temporarily. The problem is that the attack generates  "nan" in both cases so that could be a problem with the attack / or it simply doen't support vector.

[2019-09-09 12:19] minhitbk commented on #157
This issue is related to issue #120 as well.

[2019-09-09 22:25] ankitp94 commented on #66
Hi @beat-buesser,
I want to use TF1.14 with eager execution. I see that supoprt for TF2.0 (among other ART1.0 features) is under active develpoment. Which particular branch is safe to be used for TF eager? I am primarily interested in art.attacks.
Thanks!

[2019-09-10 14:23] beat-buesser commented on #66
Hi @ankitp94 ,
Thank you for using ART!
To prepare ART1.0 we have already merged the new TF2.0 features to branch `dev`, therefore until the release of ART1.0 you can use branch `dev` for TF2.0 features.
We have created `TensorFlowV2Classifier` to support eager execution, however we have only tested it with TF2.0. Please let us know your experience using it with TF1.14.
`TensorFlowV2Classifier` ex

[2019-09-24 16:51] srnghn opened #171 "ART Classifier doesn't work with Binary Logistic Regression"
**Describe the bug**
ART Classifier doesn't work with Binary Logistic Regression. The matrix multiplication in `art/classifiers/scikitlearn.py` is expecting the coefficients to be of shape (num_output, num_features). For binary classification your options are 1 or 0, two outputs. However, if you create two columns for these, the second output is redundant - if is a 1 in the first column, there wil

[2019-09-24 18:58] mathsinn commented on #171
Thank you @srnghn for raising this issue. We will look into it.

[2019-09-28 02:57] Sarimuko opened #173 "Bug in box intersection"
Hi,

I'm trying to reuse some code in decision_verification, and have found a bug in box intersection.
In the original code, when `lower_bound > upper_bound`, intervals in a box are cleared, which denotes that there is no restriction in the box, and which is not reasonable.
when `lower_bound > upper_bound`, the intervals should be modified to [lower_bound, lower_bound] or [upper_bound, upper_bound

[2019-09-28 06:25] HaqueNurImtiazul opened #174 "Extend exception message of checks of classifier/attack compatibility to provide better/more detailed explanation"
[code]

**Error message:**
For `FastGradientMethod` classifier must be an instance of `art.classifiers.classifier.ClassifierGradients`, the provided classifier is instance of (<class 'art.classifiers.scikitlearn.ScikitlearnClassifier'>,).

(Dataset is attached)
[dataset.txt](https://github.com/IBM/adversarial-robustness-toolbox/files/3665147/dataset.txt)

[2019-09-30 13:58] beat-buesser commented on #173
Hi @Sarimuko Thank you for using ART and raising this issue and please apologise the delayed response. We will take a look at your proposal as soon as possible this week.

[2019-09-30 14:17] beat-buesser commented on #174
Hi @HaqueNurImtiazul Thank you for using ART and please apologise the delayed response. ART is raising an exception, leading to the error in the script above, because you are trying to use an attack (`FastGradientMethod`) which requires gradients with respect to the input and you are providing a classifier (`ScikitlearnRandomForestClassifier`) which does not provide gradients with respect to the i

[2019-09-30 20:54] beat-buesser opened #176 "Add Support for Keras >= 2.3.0"
Add Support for Keras >= 2.3.0

[2019-10-01 09:30] beat-buesser commented on #8
Closing this issue for now.

[2019-10-01 09:41] beat-buesser commented on #173
Hi @Sarimuko Are you referring to line https://github.com/IBM/adversarial-robustness-toolbox/blob/b58a890a8304186422ffd79b845f9dfd8912d7ba/art/metrics/verification_decisions_trees.py#L394

This line is intended to clear the intervals for cases of `lower_bound >= upper_bound`.

Could you please provide more details or an example script?

[2019-10-03 06:08] HaqueNurImtiazul commented on #174
Which classifier can be used with FastGradientMethod?

[2019-10-03 10:43] beat-buesser commented on #174
All classifier's providing gradients through API `ClassifierGradients`, e.g. `KerasClassifier`, `MXClassifier`, `PyTorchClassifier`, `TensorFlowClassifier`, `TensorFlowV2Classifier`, `ScikitlearnLogisticRegression`, `ScikitlearnSVC`

[2019-10-03 12:50] Sarimuko commented on #173
For example, when two boxes with intervals {1: [-inf, 3]} and {1:[4, inf]} are intersected, the result box should contain nothing with restrictions{1: [3,3]} or {1:[4,4]}.
If the intervals are cleared, the result box will allow all data points to fall into it, which seems to make no sense.

[2019-10-06 00:40] beat-buesser commented on #173
In our implementation`intervals` is a dictionary which contains the valid ranges for all features involved in the decisions leading to a leaf node. Features that are not required to reach a leaf node are not in the intervals dictionary. Initially, all leaf nodes extracted from a trained classifier have by definition non-empty intervals/dictionaries, otherwise there would be not decision tree. Duri

[2019-10-06 07:26] Sarimuko commented on #173
Got it and thanks for the explanation.
I think I misunderstood the definition of Box before.

[2019-10-06 07:26] #173 closed

[2019-10-06 10:54] beat-buesser commented on #173
No worries, and please let us know once you have code that is ready to become a new feature of ART.

[2019-10-07 02:11] rish-16 commented on #51
@beat-buesser Hello there, can you kindly assign this issue to me? I'll get started on it.

[2019-10-07 09:26] beat-buesser commented on #51
@rish-16 Thank you! And let us know here if you have questions or need support.

[2019-10-08 04:47] rish-16 commented on #51
Will do. Thank you

[2019-10-08 09:44] #174 closed

[2019-10-11 01:56] ClonedOne opened #186 "Unexpected value for 'assignment' variable in poisoning defense evaluation"
**Describe the bug**
Using ActivationDefence with the value `'silhouette-scores'` for the parameter `cluster_analysis` I encountered and exception 'Analyze_correctness entered wrong class'.

Adding some debug printing it turns out that in the execution of `analyze_correctness()` there was an `assignment` variable with a value differnt from {0,1}.
[code]

**Note:** the same exact data and code with

[2019-10-14 12:16] beat-buesser opened #187 "Implement class_gradients method for art.classifiers.ScikitlearnSVC"
Implement class_gradients method for art.classifiers.ScikitlearnSVC

[2019-10-21 02:07] felentovic opened #188 "No consensus in reporting success rate of an attack"
Some of the attacks report their success rate as a percentage (scale 0-100) and some as a rate (scale 0-1).
e.g Carlini attack:
<pre>
logger.info('Success rate of C&W L_2 attack: %.2f%%',
                    100 * compute_success(self.classifier, x, y, x_adv, self.targeted, batch_size=self.batch_size))</pre>

Universal perturbation:
<pre>
fooling_rate = np.sum(pred_y_max != y_adv) / nb_instances <

[2019-10-21 22:05] beat-buesser commented on #188
Hi @felentovic Thank you very much for using ART and informing us about your observation. You are right, all success rates should be reported as percentages. Would you be interested to fix this issue?

[2019-10-22 06:25] felentovic commented on #188
Hey @beat-buesser thank you for your quick reply. I would like to help by fixing this issue :)

[2019-10-22 09:20] beat-buesser commented on #188
That's great!
I'll assign the issue to you and please let me know anytime if you have any questions or need support.

[2019-10-23 09:38] felentovic commented on #188
Hey it seems that the PoisoningAttackSVM, can be targeted also, but it doesn't accept the targeted flag in the constructor. Should I fix that?

[2019-10-23 10:20] beat-buesser commented on #188
Would you proposal include implementing additional code for the targeted attack or just the flag in the constructor?
I think if we continue we should create a separate issue for this.
Let me check with @ebubae who implemented PoisoningAttackSVM. @ebubae what do you think about @felentovic's proposal above?

[2019-10-23 20:07] ebubae commented on #188
Hey @felentovic

`PoisoningAttackSVM` currently only supports binary classifiers. Every attack is targeted to either an optional `y` value or to the opposite of the model's current classification of the point. Although an targeted flag could be useful for future support with multi-label classifiers, it may be more cumbersome that its worth at its current state.

[2019-10-24 05:41] felentovic commented on #188
@ebubae I agree with your opinion. My idea was to add logging of success rate for classifiers who also don't do that currently(e.g `PoisoningAttackSVM`) and to do it using the `compute success` method from `utils`:
`compute_success(classifier, x_clean, labels, x_adv, targeted=False, batch_size=1)`

Would this be the right way to use the mentioned method then?:
`targeted = y is not None`
`x_adv = n

[2019-10-25 02:45] delpart opened #189 "Native logging is broken with ART 1.0.1"
**Describe the bug**
The native python logger is not behaving as expected after import the adversarial robustness toolbox.

**To Reproduce**
Open a Python 3.7.4 interpreter and execute:
[code]

**Expected behaviour**
Logging should behave as expected, after importing art:
[code]

**System information (please complete the following information):**
 - OS: Linux 5.3.7-arch1-1-ARCH
 - Python version:

[2019-10-25 22:07] ebubae commented on #188
Yes that would correct.

[2019-10-26 10:10] ririnicolae commented on #189
Hi, @delpart! Thanks for your interest in ART. I am looking into the issue and will get back to you.

[2019-10-26 11:18] ririnicolae commented on #189
Hey, @delpart! I was able to find the issue and fix it (see PR #190). This will be fixed on `pip` with the next release. Thanks again for bringing the bug to our attention!

[2019-10-28 01:45] delpart commented on #189
@ririnicolae Thank you for your prompt response, looking forward to the next release.

[2019-10-29 10:51] beat-buesser commented on #176
We'll be working on branch `development_keras`

[2019-10-30 00:22] beat-buesser opened #191 "Explore and Implement Model Extraction Attacks and Defences"
The main goal of this issue is to define an epic aiming to extend ART with Model Extraction Attacks and Defences. This will introduce a new class of tools for ART that can test and defend trained and deployed models against model extraction. Here we are collecting references of possible candidates for implementation and their general discussion.

Proposals based on references in Jagielski et al. (

[2019-10-31 15:04] marcoancona opened #192 "What changed with DeepFool in 1.0.0?"
**Describe the bug**
I have a simple Keras CNN with Softmax activation, trained on MNIST.
These was the result with ART 0.10.0:
![image](https://user-images.githubusercontent.com/2278117/67958518-9530ad80-fbf7-11e9-8474-ed12dcfdfa33.png)

And this with 1.0.1
![image](https://user-images.githubusercontent.com/2278117/67958209-18053880-fbf7-11e9-91bf-68c117f4113d.png)

As you can see, without any ot

[2019-10-31 16:07] beat-buesser commented on #192
Hi @marcoancona Thank you very much for using ART and raising this issue. We will look at it as soon as possible. In the meantime, would you have a script available to share with us that reproduces the described behaviour?

[2019-10-31 17:02] marcoancona commented on #192
I will try to build a minimal example.
One suspicious line is https://github.com/IBM/adversarial-robustness-toolbox/blob/9c6ebc6567bb1533e3048973b02fd146cc1a73cc/art/classifiers/keras.py#L162
Seems like `use_logits` is ignored with `categorical_crossentropy`. Why?

[2019-11-01 04:55] zhjikoshlizhzc opened #194 "EOFError: Ran out of input"
When I run python get_started_scikit_learn.py, A error occurred.
Traceback (most recent call last):
  File "C:\Users\acer\Anaconda3\envs\ART2\lib\site-packages\numpy\lib\npyio.py", line 447, in load
    return pickle.load(fid, **pickle_kwargs)
EOFError: Ran out of input

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "get_started_scik

[2019-11-01 13:59] beat-buesser commented on #194
Hi @zhjikoshlizhzc Thank you for using ART and raising this issue! We will investigate and fix it as soon as possible.

[2019-11-01 16:28] ririnicolae commented on #194
Hey, @zhjikoshlizhzc! Could you please check and let us know if `/tmp/.art/mnist.npz` actually exists on your system and has size non-zero? Could you also post the content of `tmp/.art/config.json`?

This might all be a glitch of ART running on Windows. Let us know and I'll look into it.

[2019-11-01 19:23] keykholt opened #196 "Potential Bug in JSMA implementation"
When calling generate for a JSMA attack (saliency_map.py), after a single interation, the all_feat array is supposed to be updated for the two pixels that were chosen based on the map. Currently, it is implemented as:

[code]

However, the actual array doesn't seem to be updated. I implemented the same function directly and found that printing all_feat seems to show the same before and after state

[2019-11-02 06:45] zhjikoshlizhzc commented on #194
/tmp/.art/mnist.npz does not exist actually.
And There is only one  line in tmp/.art/config.json:
{
    "DATA_PATH": "C:\\Users\\acer\\.art\\data"
}
Thanks a lot for replying my question!

[2019-11-02 13:37] beat-buesser commented on #196
Hi @keykholt, Thank you for using ART and raising this issue! Could you please provide information about the library versions you are using (ART, TensorFlow, Keras, etc.)? If possible could you show us a short script on how to reproduce this issue?

Would you be interested to investigate and implement a possible solution?

[2019-11-02 16:16] MichaKh opened #197 "ART attacks with Tensorflow-GPU support"
Hi,

I have a question about the implementation of the attacks in ART.
I have a Keras model (wrapped in the KerasClassifier object) and I want to run the attacks with a Tensorflow-GPU backend.
Do the attacks implementations support this? What do I have to do to support running with GPU?

Thanks

[2019-11-02 16:43] beat-buesser commented on #197
Hi @MichaKh Thank you for using ART! Yes, all the attacks support GPUs. There are no additional settings required on the ART side. You just need to make sure that your machine learning library is installed in a version that supports GPUs (e.g. for TensorFlow version 1.14 and earlier as Keras backend use `tensorflow-gpu`, etc.).

[2019-11-04 11:26] ggh96 opened #198 "empirical robustness metric: HopSkipJump attack support"
I suggest adding HopSkipJump attack to empirical robustness metric. I tried it on local machine it works fine, can support for source code.
I'll be fine as both of them are model-agnostic and don't use gradient of the loss.

[2019-11-04 11:36] ghost opened #199 "categorical feature support"
I have a dataset with categorical features (non-image data). After binarizing them and training a model, I need to create adversarial samples on some test dataset samples using any ART supported attack. Adversarial samples are created with continuous values.
I suggest adding support for categorical features, e.g. binarizing selected features after creating the adversarial samples by {0:<.5,1:else}

[2019-11-04 13:01] beat-buesser commented on #199
Hi @ggh96 Thank you for using ART and the great user feedback by making a great suggestion! We have been thinking about supporting categorical features in the past but didn't have the resources to implement it so far.

It looks like you have a solution for categorical features outside of ART. Would you be interested to work on implementing it as part of ART?

[2019-11-04 13:04] beat-buesser commented on #198
Hi @ggh96 Thank you for the interesting proposal! Would you be able to make a pull request of a branch that contains a possible solution?

[2019-11-04 14:47] beat-buesser commented on #192
Hi @marcoancona

Ok, is it correct that for logits as output the behaviour in both versions is as expected?

The example in this Stack Overflow post shows how to train a Keras model that predicts logits: https://stackoverflow.com/questions/47036409/keras-how-to-get-unnormalized-logits-instead-of-probabilities

Many attacks are much stronger on logits than on probabilities.

The breaking item intro

[2019-11-04 14:48] beat-buesser commented on #188
Hi @felentovic Just checking, do you have everything you need to make good progress?

[2019-11-04 18:33] marcoancona commented on #192
The example is Stack Overflow does not work (anymore?). As I mentioned before, even if I want to use logits, I can't find a way to pass the loss function in a way that is accepted by ART.

Please see the following example:

[code]
and the result:

[code]

[2019-11-04 19:06] keykholt commented on #196
Using ART version 1.0. Here is an example on MNIST for a single input.

[code]

Running the above code, I get the same number of features changed despite setting one of the gamma's close to 0. If I add `print("Selected Features:", feat_ind, "all_feat sum:", np.sum(all_feat))` to line 125 of saliency_map.py, I see that the sum is always 0.

What worked for me was to change  123-124 from:
[code]
to

[2019-11-04 19:30] beat-buesser commented on #192
I have made the following changes to your script above and have tested it with TensorFlow 1.14:
[code]

This should make the your script run.

I think there might be a chance here to improve the usability of the Keras classifier. The code for the Keras classifier is currently checking for the name of the loss function and expects it to be one of the functions/names provided in Keras. In this case,

[2019-11-04 21:24] beat-buesser commented on #196
Hi @keykholt The proposed changes look good to me. Could you please make a fork and a pull request for these changes to branch `dev_1.1.0`?

[2019-11-04 22:37] #196 closed

[2019-11-05 16:17] marcoancona commented on #192
This seems to work, thanks for your help.
From a user perspective, I would suggest the following improvements:
- remove the argument `use_logits` from KerasClassifier. This is just too confusing and, worse, sometimes it is taken into account sometimes not.
- add support for the new tf.Keras loss generators (eg. `tf.keras.losses.CategoricalCrossentropy()`) to avoid the need to build a custom loss f

[2019-11-05 21:22] beat-buesser commented on #192
Thank you for your feedback! I agree about `use_logits` and the loss generators for `KerasClassifier`, we should definitely support them. I think this should be straightforward to implement and will be included in the next release 1.1.0, let's keep this issue open until then.

We could also extend the example by showing a case with probabilities and logits and compare their adversarial effectivene

[2019-11-06 03:49] seanpmorgan opened #203 "Slack invite is stale"
Hi All,

Thanks for the great work on this library. It appears the slack invite link on the central README is expired. Is there an alternative invite link?

![image](https://user-images.githubusercontent.com/18154355/68266903-7dee2780-001e-11ea-96f1-5578b2c6a341.png)

[2019-11-06 11:04] beat-buesser commented on #203
Hi @seanpmorgan Thank you for alerting us about the inactive link, we'll try to fix it as soon as possible.

[2019-11-06 11:13] #203 closed

[2019-11-06 11:14] beat-buesser commented on #203
The link should be working again.

[2019-11-06 11:44] marcoancona opened #204 "Possible bug in Fast Gradient Method (minimal variant)"
**Describe the bug**
There seems to be a bug in the implementation of Fast Gradient Method, in the minimal perturbation variant. In particular, the original input `x` is modified by the `generate` method. See the following example:

[code]

Output
[code]

The problem is caused by the `_minimal_perturbation()` method. Notice that `x` is copied but then `_apply_perturbation()` is called on the origi

[2019-11-06 12:46] beat-buesser commented on #204
Hi @marcoancona Thank you for raising this issue. Yes, the intention is that the attacks should not modify the original input.

@minhitbk What do you think? Should line 113 below https://github.com/IBM/adversarial-robustness-toolbox/blob/548febd02770bf06d9e0bb34974b3d98ec889865/art/attacks/fast_gradient.py#L113

be changed to
[code]

I think this does not affect the quality of generated adversaria

[2019-11-06 12:50] beat-buesser commented on #204
@marcoancona Would you be interested in implementing the possible solution and make a pull request for it?

[2019-11-06 13:52] imolloy commented on #204
I’m not sure if you could replace `x` with `adv_x` depending on how `active_indices` is updated. What about changing `_apply_perturbation`, specifically this line: https://github.com/IBM/adversarial-robustness-toolbox/blob/548febd02770bf06d9e0bb34974b3d98ec889865/art/attacks/fast_gradient.py#L252

[2019-11-06 14:01] seanpmorgan commented on #203
Thanks!

[2019-11-06 14:08] minhitbk commented on #204
I agree with @imolloy, changing x to adv_x in line 113 won't work because adv_x will again be changed after one iteration in the while loop. Instead, the root cause is in line 251 as @imolloy specified. So we should change
    batch += eps_step * perturbation
to
    batch = batch + eps_step * perturbation
This solution should work.

[2019-11-06 14:47] beat-buesser commented on #204
Thank you @minhitbk and @imolloy It works for me using the script above.

@marcoancona What do you think?

[2019-11-06 15:42] marcoancona commented on #204
Yes, the change suggested by @minhitbk should work. And since `batch` in this case is always the original input, it is correct to call `_apply_perturbation` with `current_eps`

[2019-11-08 20:03] keykholt opened #205 "Support for Pandas Dataframes and Set Preprocessing to None"
**Is your feature request related to a problem? Please describe.**
It seems like most (if not all) ART classes expect numpy array inputs in order to correctly create classifiers and adversarial samples. I've only noticed this issue occurring when creating classifiers or using some of the adversarial attacks. Issues I've run into occur because pandas dataframes have different indexing rules (e.g. u

[2019-11-08 21:29] beat-buesser commented on #205
Hi @keykholt Thank you for proposing this very useful new feature and for working on implementing it! Let us know anytime if you need any help.

[2019-11-11 03:03] AndrewSoul opened #207 "convert perturb into sphere in boundary attack."
**Describe the bug**
If the shape of perturb is (3,218,178) (channel, height, width), how to convert perturb （height and width are not equal) into sphere?

**To Reproduce**
Steps to reproduce the behavior:
The shape of input image is (3,218,178) (channel, height, width). When I tried to run boundary attack, in function _orthogonal_perturb: it needed to convert perturb into sphere.
`perturb[i] -= n

[2019-11-11 12:17] beat-buesser commented on #207
Hi @AndrewSoul  Thank you very much for using ART and raising this issue! This would be for applications where the input images are not squares? If I'm right, I think so far we have tested ART only with square images, but I see an increasing interest in non-square shapes and ART. We'll take a look at it as soon as possible.
Would you have a proposal for a solution?

[2019-11-11 17:44] KaGrosse opened #208 "HCLU bug"
**Describe the bug**
The confidence parameter is hardcoded and not handed over to the method. See line 90 in the HCLU attack.

[2019-11-11 17:44] KaGrosse commented on #208
Feel free to assign this to me, I'll fix this next Sunday. Sorry!

[2019-11-11 20:51] beat-buesser commented on #208
@KaGrosse Thank you for finding the bug and working a solution! No worries!

[2019-11-12 10:59] zhjikoshlizhzc opened #209 "The paper of Attack HopSkipJump"
Hi!
I'm quite confused that what is the paper of the Attack HopSkipJump.

I can not find it,could you please show me it?

[2019-11-12 11:03] beat-buesser opened #210 "Add KubeFlow component for using ART to check robustness of ML models"
This issue will track overall progress on new features for KubeFlow support in ART for robustness checks following @Tomcli PR #206

- [ ] PyTorch: #206
- [ ] Keras
- [ ] TensorFlow
- [ ] MXNet
- [ ] scikit-learn

[2019-11-12 11:06] beat-buesser commented on #209
Hi @zhjikoshlizhzc

The paper for HopSkipJump is https://arxiv.org/abs/1904.02144
HopSkipJump was called Boundary Attack++ in early versions of that paper.

In ART, all methods include a link to a paper in their docstring/documentation, if possible.

[2019-11-12 11:58] ggh96 commented on #199
Currently working on a attack independent solution. My solution is local. Will pull once ready.

[2019-11-13 23:38] dapello opened #214 "EnsembleClassifier not receiving `raw` parameter from attack"
**Describe the bug**
EnsembleClassifier expects a parameter `raw` for `predict`, `loss_gradient`, and `class_gradient`, which is not passed by ProjectedGradientDescent or HopSkipJump generate functions.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
To generate adversarial images based on the ensemble of classifiers.

**System information (please complete the foll

[2019-11-14 00:45] beat-buesser commented on #214
Hi @dapello Thank you very much for using ART and raising this issue! We will take a look at it as soon as possible.

[2019-11-14 01:13] beat-buesser commented on #214
I think we need to add a default value of `False` for the keyword argument `raw` in `predict`, `loss_gradient`, and `class_gradient` in ensemble classifier instead of raising ValueError.

[2019-11-14 04:08] dapello commented on #214
Looking at the source, that seems right -- happy to PR if you like.

[2019-11-14 07:20] zhjikoshlizhzc commented on #209
Thanks a lot!

[2019-11-14 07:20] #209 closed

[2019-11-14 10:53] beat-buesser commented on #214
That would be great! I'll assign this issue to you. Please start from branch `dev_1.1.0` and let me know if you have any questions.

[2019-11-14 22:39] beat-buesser commented on #191
I have created branch `development_extraction` for this epic.

[2019-11-14 22:43] beat-buesser opened #216 "Implement Functionally Equivalent Extraction Attack"
Implement Functionally Equivalent Extraction Attack for neural networks with 2 fully-connected layers with ReLU activation and logits output as described by Jagielski et al. 2019 (https://arxiv.org/abs/1909.01838):.

[2019-11-15 10:51] Shashikant255 opened #218 "Which attacks have support for multi label in multiclass problem?"
Can any one please tell me which attacks have the support for multi-label in multi-class problem?
You can see in below images for reference:-
![Capture](https://user-images.githubusercontent.com/42666078/68938137-bed70080-07c3-11ea-966f-5a3f738f0ba0.PNG)

[2019-11-15 11:14] beat-buesser commented on #218
Hi @Shashikant255 Thank you for using ART and raising and interesting question. As far as I know, we have tested ART only on single-label multi-class problems and that internally ART is expecting the labels to be one-hot-encoded or single index labels.
Could it be possible to create new labels representing pairs/triples/etc of your original labels?

[2019-11-15 12:33] Shashikant255 commented on #218
Hi @beat-buesser  Yes we can create new labels. But for many of cases we don't have much training example to train for those classes. So we have thought of having multi label.
Is there any way to modify the code to support multi-label for multi-class?

[2019-11-15 14:25] beat-buesser commented on #218
I think it's definitely possible to modify/extend ART to work with multi-label data. One would probably have to start with looking at the methods `loss_gradient` and `class_gradient` of the classifier and make sure they can handle multi-label data. There are a few places in these methods that use for example `np.argmax` to find the index of the label, etc., therefore expecting a single label.

[2019-11-16 06:16] hkthirano opened #219 "Deepfool does not work well."
Deepfool does not work well.

Maybe because `batch` and `x_adv[batch_index_1:batch_index_2]` are eaual, overshoot parameter is zero.

[code]

If we change it like this, it works well.

[code]

[2019-11-16 09:36] Willzy-x opened #220 "Are these methods suitable for semantic segmentation tasks and 3d images?"
Hi,

I noticed that the attack methods are always initialized with a trained classifier. Does it mean that those methods can only be implemented on classification tasks?
In addition, I also want to know whether these methods, for example, Gaussian Data Augmentation in defence methods, can be applied to 3d images(medical images) as well.

Best,
Yucheng

[2019-11-18 10:51] marcoancona opened #221 "Keras callback support"
To my understanding, if we pass Keras callbacks during adversarial training, these are called at every epoch of the underlying model, ie. every training *batch*. This make it difficult to use the same callbacks, ie. `ModelCheckpoint` and `Tensorboard` for normal and adversarial traning. Some callbacks like `EarlyStopping` do not work at all, because there is nothing to stop within a single trainin

[2019-11-18 12:36] beat-buesser commented on #219
Hi @hkthirano Thank you very much for using ART and asking this question! Could you please provide more information/code about how you define the ART classifier and your model? Does your model predict probabilities or logits?

[2019-11-18 12:57] beat-buesser commented on #220
Hi @Willzy-x Thank you for using ART and raising these interesting questions.

ART is currently tested only for classification tasks and for example `KerasClassifier` only supports classification losses, so far. I have seen people using ART for regression tasks with relatively small modifications to the source code, mainly on internal label handling and loss function definition. It would definitel

[2019-11-18 13:01] beat-buesser commented on #221
Hi @marcoancona Thank you very much for this interesting feature request. I think this could be very helpful for many users of ART. Have you already managed to implement the described solution for your experiment?

[2019-11-18 17:52] marcoancona commented on #221
I did not have the time to try this myself. I only inspected the `AdversarialTrainer` to better understand why the callbacks were not behaving the way I expected. I believe this is very important. For example, at the moment I am running an adversarial training for 12 hours but I have no way to know:
- what is the current progress (how many epochs have been trained)
- what is the current train/test

[2019-11-20 11:09] Willzy-x commented on #220
Nope, I am not working on a regression task. Instead, I am working on a semantic segmentation task on medical images, which can be understood as classifying every single pixel on an image(of course, voxel on a 3d image).

And I hope that some methods in adversarial machine learning will improve my network's performance or robustness, such as adversarial training, virtual adversarial training and s

[2019-11-20 19:49] beat-buesser commented on #220
Ok, I see, because you asked if there is only support for classification I automatically assumed you are looking at regression. I think pixel-wise classification should be straightforward with ART.

[2019-11-20 21:29] yzhang017 opened #222 "Cannot import name 'SklearnClassifier'"
I followed the Setup instruction using pip to install this toolbox on the Jupyter Notebook 6.0.2. But when I run examples with Python 3, it has error.

from sklearn.svm import SVC
import numpy as np

from art.attacks import FastGradientMethod
from art.classifiers import SklearnClassifier
from art.utils import load_mnist

ImportError:  **cannot import name 'SklearnClassifier'** .

Did anyone occur

[2019-11-20 21:48] dapello opened #223 "Add new check to EnsembleClassifier and its classifiers for identical channel_index"
**Describe the bug**
The SpatialTransform attack does not properly rotate / translate images formatted for an ensemble of Pytorch models. Judging by the outputs, I think somewhere along the line the channels are not being handled correctly. Note, for an ensemble of Keras models, the attack seems to work fine.

**To Reproduce**
[code]

example input and output images:
![image](https://user-images.g

[2019-11-20 21:52] dapello commented on #214
This is working perfectly now, thanks for taking my PR!

[2019-11-20 21:52] #214 closed

[2019-11-20 22:02] beat-buesser commented on #223
Hi @dapello Thank you for raising this issue! Do you also observe this unexpected behaviour of `SpatialTransformation` if you use `PyTorchClassifier` without `EnsembleClassifier`?

[2019-11-20 22:05] dapello commented on #223
Hi @beat-buesser, in my experience it only happens with the ensemble of pytorch classifiers -- using a single `PyTorchClassifier` behaved as expected.

[2019-11-20 22:06] beat-buesser commented on #222
Hi @yzhang017 Thank you very much for using ART and raising this question! Could you please describe your operating system and where did you run the pip command?

[2019-11-20 22:13] beat-buesser commented on #223
Can you try setting the argument `channel_index=1` in `EnsembleClassifier`?

[2019-11-21 01:54] Willzy-x commented on #220
Ok, Thanks for the help. 😄

[2019-11-21 01:54] #220 closed

[2019-11-21 02:55] yzhang017 commented on #222
I have  the latest version of Anaconda on Windows 10 and run pip command in the Anaconda prompt.

[2019-11-21 05:14] dapello commented on #223
Ah, that fixed it! Thank you.

[2019-11-21 10:29] beat-buesser commented on #222
Could you please run `pip freeze` and post its output? Could you also show how you run the examples?

[2019-11-21 16:31] yzhang017 commented on #222
The following is the output from pip freeze:
absl-py==0.7.1
ad3==2.2.1
Adversarial-Robustness-Toolbox==0.9.0
aiohttp==3.5.4
anaconda-client==1.7.2
anaconda-navigator==1.9.7
asn1crypto==1.2.0
astor==0.7.1
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2019.9.11

[2019-11-21 17:02] beat-buesser commented on #222
Thank you! I see that you have installed `Adversarial-Robustness-Toolbox==0.9.0`. The support for scikit-learn has been introduced with ART v1.0. If you upgrade your installation of ART to v1.0 the error should disappear.

[2019-11-21 17:09] yzhang017 commented on #222
Thank you so much. It fixed. Actually, I installed the ART yesterday, so I did not realize it needs to be upgraded.

[2019-11-21 17:35] #222 closed

[2019-11-26 20:48] beat-buesser opened #224 "Check for incompatible numerical data type in input standardisation of classifier"
In `_apply_preprocessing_standardisation` of the classifiers the input `x` is standardised by subtracting a provided mean value. For some data types like `uint8`, which cannot represent negative numbers, this subtraction can lead to for the user unexpected values while the algorithm continues without any warning. I would like to raise an exception if a classifier uses standardisation in combinatio

[2019-11-27 10:28] ririnicolae opened #227 "Investigate logging output for tests"
The output from some unit tests seems to be present in Travis logs, while others are missing. This is in spite of the fact that all tests are configured the same. The purpose of this issue is to investigate this and to fix it if necessary.

Reported by @beat-buesser

[2019-12-02 16:56] TS-Lee commented on #191
I should have implementations of ...
- Papernot et al., https://arxiv.org/abs/1602.02697, Active learning
- Tramer et al., https://arxiv.org/abs/1609.02943 --> attack against general model querying samples and training a model from the result.
- updating...

[2019-12-03 14:29] minhitbk commented on #191
So then I work on KnockoffNets and CopyCatCNN.

[2019-12-04 13:50] minhitbk opened #229 "Implement copycat cnn attack"
Implement the attack Copycat CNN, https://arxiv.org/abs/1806.05476, in the Epic #191

[2019-12-04 13:52] minhitbk opened #230 "Implement the Knockoff Nets attack"
Implement the Knockoff Nets, https://arxiv.org/abs/1812.02766, as in the Epic #191

[2019-12-06 14:03] beat-buesser opened #233 "Implement defences against model extraction attacks"
Implement defences against model extraction attacks

[2019-12-08 16:30] seanpmorgan opened #235 "Enable import of full ART package"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to import the full ART toolkit using `import art`

However, the import structure does not allow this:
[code]
Returns `AttributeError: module 'art' has no attribute 'classifiers'`

See:
https://colab.research.google.com/drive/1X3U0xm0uEEwWDM4njwwbl9aDK5Jk9OeO

I would be willing to submit a PR for this bu

[2019-12-08 16:31] seanpmorgan opened #236 "Add version to ART package"
**Describe the bug**
Per [PEP 396](https://www.python.org/dev/peps/pep-0396/) it's beneficial for users to be able to programatically check module version using `__version__`.

**To Reproduce**
[code]
Returns:
`AttributeError: module 'art' has no attribute '__version__'`

I'd be willing to submit a PR, but want to make sure there isn't some reason for this.

**System information (please complete t

[2019-12-08 16:31] seanpmorgan opened #237 "[1.1.0 Dev Branch] Significantly increased time to wrap Keras model in Keras >2.3"
**Describe the bug**
When wrapping a Keras model with `KerasClassifier` I'm seeing significantly increased times on the 1.1.0 Dev Branch.

Wrapping a ResNet50 model takes >30 seconds. For NASNet I'm seeing it take minutes:
https://colab.research.google.com/drive/1NXCe4XK-qhy3sx2mT_PaVnyIZTE6DR8n

Even if I disable eager execution I see the same behavior:
https://colab.research.google.com/drive/1e6

[2019-12-08 16:39] seanpmorgan opened #238 "Support for TF2.x Eager Execution"
**Is your feature request related to a problem? Please describe.**
Currently Keras models written in TF2.x will fail during wrapping of `KerasClassifier`. At a minimum ART should be able to test TF2.x Keras models that are able to `model.compile` since the calls to e.g. `K.gradients()` should still work. On the dev 1.1.0 branch there is no support for using `tf.keras.applications.model*`:
https://

[2019-12-08 17:34] beat-buesser commented on #235
Hi @seanpmorgan Thank you for opening this issue. I don't think there is a specific reason why we don't support it so far. It would be great if you could make a PR for this. I'll assign this issue to you.

[2019-12-08 17:36] beat-buesser commented on #236
Hi @seanpmorgan I agree, we should support `__version__`. Please go ahead with the PR.

[2019-12-08 17:43] beat-buesser commented on #237
Hi @seanpmorgan Thank you for sharing your observation and the detailed description, this is very useful. I will also investigate these performance numbers.

I think the calls to `k.gradients` (https://github.com/IBM/adversarial-robustness-toolbox/blob/ea458387234ce60aa34b055664401e1e25a93814/art/classifiers/keras.py#L204) is part of creating a function that calculates the loss gradients at the in

[2019-12-08 18:12] beat-buesser commented on #238
Hi @seanpmorgan Thank you very much for opening this issue. Your feedback is very much appreciated and I'll try to provide an overview of the current status.

`KerasClassifier` does not really fail, it stops intentionally with an exception if it detects eager execution, because officially it does not support eager execution. Currently you have to deactivate eager execution for `KerasClassifier` an

[2019-12-09 17:26] imolloy opened #241 "KerasClassifier get_activations makes assumption about input shape"
**Describe the bug**
Keras get_activations makes hard-coded assumptions about the shape of the input:

[code]

**To Reproduce**
Train a Keras classifier on MNIST,
[code]

That results in the following exception:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System inform

[2019-12-09 23:46] beat-buesser commented on #237
I think the long time required to create and instance of `KerasClassifier` in cell 6 of the first notebook (https://colab.research.google.com/drive/1NXCe4XK-qhy3sx2mT_PaVnyIZTE6DR8n) is caused by importing `tensorflow` followed by importing `keras`. I think this is not recommended by the TensorFlow developers.

If I change cell 1 to:
[code]
and cell 3 to:
[code]
the output of cell 6 becomes:
[code

[2019-12-10 00:35] beat-buesser commented on #238
This is an example of using ART 1.x with TensorFlow2.x, eager execution, and tf.keras.applications.model.* (ResNet50), I'm planning to add it to `examples`:
[code]

[2019-12-10 14:27] seanpmorgan commented on #238
Thanks for the followup @beat-buesser. Closing this issue as eager execution is supported! I'm going to start another issue to discuss the Keras support into the future.

[2019-12-10 14:27] #238 closed

[2019-12-10 14:27] seanpmorgan opened #243 "Roadmap for Keras and TF2 Wrappers"
[Keras 2.3 will be the last multi-backend Keras version](https://twitter.com/fchollet/status/1174018651449544704?s=20), and going forward it is recommended that users switch to `tf.keras`. Given this information, I think that it will be very confusing for end users to realize that a tf.keras model should be ran with `TensorFlowClassifierV2` instead of `KerasClassifier`. See https://github.com/IBM/

[2019-12-10 14:27] seanpmorgan commented on #237
So I'm not aware of any issues w.r.t import order for Keras/TF (please link if you see any). As far as I can tell the snippet above works because you're calling `tf.compat.v1.disable_v2_behavior()` instead of `tf.compat.v1.disable_eager_execution()`. I believe this is essentially running a TF1.x implementation and is not really supporting TF2.x

Hmmmm I'm not quite following. loss_gradients are de

[2019-12-10 14:45] beat-buesser commented on #243
Hi @seanpmorgan Thank you for starting the discussion. Here are a few discussion points from our side:
- what would be the best way to maintain `KerasClassifier` to provide backward compatibility with `keras`?
- is it possible to distinguish between TensorFlow and `tf.keras` after the 2.0 release? `tf.keras` is now the recommended way of using TensorFlow, therefore having a classifier named `Tenso

[2019-12-10 15:30] beat-buesser commented on #237
I have made a quick test and `tf.compat.v1.disable_eager_execution()` does not decrease the required time while `tf.compat.v1.disable_v2_behavior()` does decrease it. The issue seems related to TensorFlow v2.x behaviour as backend of Keras. The keras and tensorflow imports seem not to influence the behaviour in this case. About your request, I'm not sure that there is a single link about the impor

[2019-12-11 21:21] beat-buesser commented on #237
I have investigated this issue a little bit further and I think the reason for the observed increase in time for creating an instance of `KerasClassifier` with branch `dev_1.1.0`  might be caused by TensorFlow 2.0.0 and not by ART.

I have tried to profile the memory allocated and time required for calculating the loss gradients with respect to model input with `tensorflow.keras` and without using

[2019-12-12 01:14] seanpmorgan commented on #237
Thanks for the detailed look @beat-buesser! Closing as this looks like it'll be solved with TF2.1, but still useful analysis for users who try ART using TF2.0!

[2019-12-12 01:14] #237 closed

[2019-12-12 11:26] beat-buesser commented on #237
@seanpmorgan Thank you for raising this issue! We have learned a lot.

[2019-12-12 11:56] beat-buesser commented on #243
We also could extend this discussion on a roadmap for `TensorFlowV2Classifier`. It already supports eager execution but we have not tested it with models/functions decorated with `@tf.function`. I think the current version might not support it. Supporting `@tf.function` seems to be important for [peak performance](https://www.tensorflow.org/tutorials/customization/performance).
@seanpmorgan Do you

[2019-12-13 03:43] seanpmorgan commented on #243
Hi @beat-buesser these are good points.

To me, it's more intuitive for KerasClassifier to refer to any keras model (multi-backend and tf.keras). There should be little to no breakage for using TF2 tf.keras models with the current wrapper because `model.compile()` needs to be ran prior to wrapping. The exception to this is if `model.compile(run_eagerly=True)` is used and then it could wrap with TF

[2019-12-13 03:44] #236 closed

[2019-12-13 03:46] seanpmorgan opened #245 "Investigate @tf.function models running as a wrapped classifier"
Per #243 we should investigate to see any issues that occur for models that utilize `@tf.function` which are wrapped by the TensorFlowV2Classifer.

You can assign this issue to me.

[2019-12-13 13:37] beat-buesser commented on #245
@seanpmorgan Thank you for looking into this issue.

[2019-12-14 14:55] ashishcse0031 opened #246 "AttributeError: 'TensorFlowV2Classifier' object has no attribute '_input_shape'"
AttributeError                            Traceback (most recent call last)
<ipython-input-29-2bb3f266838f> in <module>()
      1 virtual_adversarial_method = VirtualAdversarialMethod(classifier, max_iter=10, finite_diff=1e-06, eps=0.1, batch_size=1)
      2
----> 3 data_adv = virtual_adversarial_method.generate(x_test[:10])
      4
      5 plt.imshow(data_adv[0].reshape(28, 28))

1 frames
/usr/lo

[2019-12-14 16:15] beat-buesser commented on #246
Hi @ashishcse0031 Thank you very much for using ART and reporting this issue! We will investigate and fix it as soon as possible.

[2019-12-16 11:03] BalaMallikarjuna-G opened #247 "Any adversarial attack that sustains after resize attack"
Hi,

 I have a query regarding adversarial attack.

Is there any adversarial attack that sustains/consists of added noise, after resize attack ? (adversarial image -> converting into High / low resolution image -> resize to original adverarial image size)

Thanks,
Bala

[2019-12-16 12:44] mathsinn commented on #247
Hi @BalaMallikarjuna-G , thank you for your interest in using ART and in your inquiry.

If I understand correctly, your question is how to create an adversarial example that results in a targeted/untargeted misclassification even after being converted into high/low resolution image and then being resized to the original image size?

The common approach to accomplish this is via partial backpropaga

[2019-12-19 15:32] minhitbk opened #251 "Accept soft labels in the fit function of ART classifier"
Currently the fit function of an ART classifier just accepts either index labels or 1-hot labels and doen't accept probability labels. In learning-based extraction attacks, victim models may return probability labels which contain many useful information that can be harnessed by a thieved model. So ART classifier needs to accept probability labels in the fitting function.

[2019-12-19 17:07] beat-buesser commented on #251
@minhitbk Thank you very much for raising this issue!

[2019-12-25 16:40] teavanist opened #252 "trying AdversarialPatch attack and I get 'tuple' object has no attribute 'dtype' error"
Hi,
I am trying to run the AdversarialPatch attack using a variation of the code from Pytorch and the ART examples. But I get the following error:
AttributeError: 'tuple' object has no attribute 'dtype'
The same code works correctly with FastGradientMethod and CarliniL2Method attack. Am I doing anything wrong? Or rather should anything be done differently for AdversarialPatch attacks?
Below is the

[2019-12-25 16:40] teavanist commented on #252
Below is the full error:
-----------
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-33-e63d05675337> in <module>
      3 attack = AdversarialPatch(classifier=classifier)
      4 x_test_adv = attack.generate(x=x_test_limited)
----> 5 predictions = classifier.predict(x_test_adv)

[2019-12-25 20:41] teavanist opened #253 "Missing documentation about SVM attack"
![2019-12-26 01_01_05-art attacks — Adversarial Robustness Toolbox 1 0 1 documentation](https://user-images.githubusercontent.com/37803648/71450439-55abbb00-277b-11ea-91b8-f954293e0d7d.jpg)
The documentation about SVM attacks seem to be missing from the below link. Do have a look.

https://adversarial-robustness-toolbox.readthedocs.io/en/latest/modules/attacks.html#svm-attack

[2019-12-26 23:31] #235 closed

[2019-12-27 18:11] seanpmorgan commented on #245
So I had a chance to look into this a bit...

There should be no issues since gradient tape is able to trace anything decorated with `@tf.function`.
[code]

[2019-12-27 18:11] seanpmorgan commented on #245
However, while using this wrapper I found it very un-intuitive for the typical TF2 Keras subclass paradigm. For example:

The above code but running:
[code]
Will return:
[code]
A user could specify a `_train_step`,  but that's a strange function to write because having that determined for you is one of the major reasons to be using Keras models in the first place.

I'm going to close this issue as

[2019-12-27 18:11] #245 closed

[2019-12-27 18:11] seanpmorgan commented on #246
@beat-buesser I believe this can be closed since #249?

[2019-12-27 18:12] seanpmorgan commented on #243
So following the findings from #245, I would like to propose a refactoring of the TF/TF2/Keras wrapper paradigm.

## Rationale for a change:
1) The reason we have multiple wrappers is to handle graph vs. eager execution. However, eager execution has been available since ~TF1.7. Naming the wrappers TF and TF2 is a mis-nomer.
2) As discussed in this thread, a single KerasWrapper would improve the us

[2019-12-29 02:19] BalaMallikarjuna-G commented on #247
Hi Sir,
Sorry for the late reply. I was out of work for last few days.
Thanks for your reply . I will check and get back to you.

On Mon, Dec 16, 2019 at 6:14 PM mathsinn <notifications@github.com> wrote:

[2019-12-31 06:43] SophieChang66 commented on #142
@ksivaman hi, I trained one model using classifier.fit afer some epoch, but the accuracy is 10 %. I also found that the pytorch classifier not trained the model's parameter, how do you solve it ?

[2020-01-04 10:58] teavanist commented on #252
Hi guys,
Anyone looking at this?

[2020-01-04 11:38] mathsinn commented on #252
Hi @teavanist

Thank you for using ART and raising this issue! Apologies for not getting back to you earlier.

Please take a look at this notebook, which shows how to create adversarial patches with ART: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/notebooks/attack_adversarial_patch.ipynb

As you can see there, the `attack.generate` function returns a tuple, not a numpy array

[2020-01-04 20:36] teavanist commented on #252
Thanks @mathsinn I will check this

[2020-01-05 20:56] #246 closed

[2020-01-06 13:17] beat-buesser commented on #253
Hi @teavanist Thank you very much for using ART and pointing out the missing documentation! We will add it as soon as possible.

[2020-01-06 13:27] #137 closed

[2020-01-06 13:28] #208 closed

[2020-01-06 14:25] beat-buesser commented on #246
Thank you all. I used to keep the issues open until their solutions made it to master branch to avoid duplicate issues, but I'm open to adapt the issues process since we are tracking progression now with projects/milestones.

[2020-01-06 14:28] beat-buesser commented on #245
@seanpmorgan Thank you very much for looking into this issue and please apologise the delayed response.

[2020-01-06 14:35] beat-buesser commented on #243
@seanpmorgan Please apologise the delayed response and thank you for your proposal. Let me think about it for a moment and I'll get back to it very soon.

[2020-01-08 00:06] #8 closed

[2020-01-08 00:06] #241 closed

[2020-01-08 01:21] #194 closed

[2020-01-08 01:21] #197 closed

[2020-01-08 01:21] #229 closed

[2020-01-08 01:22] #253 closed

[2020-01-08 01:22] #204 closed

[2020-01-08 01:22] #233 closed

[2020-01-08 01:23] #192 closed

[2020-01-08 01:23] #176 closed

[2020-01-08 01:23] #189 closed

[2020-01-08 01:25] #187 closed

[2020-01-08 01:25] #188 closed

[2020-01-08 01:25] #198 closed

[2020-01-08 01:26] #207 closed

[2020-01-08 01:26] #219 closed

[2020-01-08 01:26] #216 closed

[2020-01-08 01:27] #224 closed

[2020-01-08 01:27] #223 closed

[2020-01-14 09:45] teavanist opened #263 "VirtualAdversarialMethod - error - Values smaller than 0.0 or larger than 1.0 have been detected"
Hi,
I am running the VirtualAdversarialMethod and I get a "Values smaller than 0.0 or larger than 1.0 have been detected". My predictions include negative values. How do I tell the classifier to convert the predictions to values between 0 and 1? I did not see any option for this in the documentation.

===== Error message ============
c:\program files\python37\lib\site-packages\art\attacks\virtual_

[2020-01-14 09:46] teavanist commented on #263
I think the following code should resolve the issue but I dont know where to use this.

new_predictions = []
for prediction in predictions:
    # Normalised [0,1]
    new_prediction = (prediction - np.min(prediction))/np.ptp(prediction)
    normalized_predictions.append(normalized_prediction)

[2020-01-14 09:49] teavanist commented on #263
I am including the Jupyter notebook for your reference and reproduction .
[VirtualAdversarialMethod copy.zip](https://github.com/IBM/adversarial-robustness-toolbox/files/4058441/VirtualAdversarialMethod.copy.zip)

[2020-01-14 10:29] beat-buesser commented on #263
Hi @teavanist Thank you for using ART and your question! Let me take a look at your notebook.

[2020-01-14 11:11] beat-buesser commented on #263
`VirtualAdversarialMethod` currently only supports models predicting probabilities. It looks like your model does not predict probabilities. The model in the notebook seems to make predictions in the range -33.97 to 0.0.

[2020-01-15 13:13] beat-buesser opened #264 "Extend tests to run all TensorFlow unittests with TensorFlow v2 instead of compatibility mode"
Some of the unittests (e.g. attacks) are still switching to v1 compatibility mode in the TensorFlow v2 testing configurations. This issue will make changes to run all unittests with TensorFlow v2 behaviour in the TensorFlow v2 testing configurations.

[2020-01-19 14:15] teavanist commented on #263
Thanks

[2020-01-19 14:19] teavanist commented on #263
@beat-buesser  whats a good way to reach out to you privately? We are doing a project at our University and it involves IBM ART. I wanted to discuss some of our findings with you.

[2020-01-20 21:44] beat-buesser opened #267 "Move post-processing defences to defences and integrate with classifier"
Move post-processing defences from module wrappers to defences and integrate them similar to pre-processing defences into the classifiers.

[2020-01-20 22:10] beat-buesser commented on #263
@teavanist We have a workspace on Slack at ibm-art.slack.com, the invitation link is on the README of the master branch. There we can discuss either on open channels or with direct messages.

[2020-01-20 22:16] beat-buesser commented on #227
I think some of the changes to `.travis.yml` in PR #265 have fixed the missing logging messages, but I'm not exactly sure why, maybe because the tests are now running in the virutalenv of Travis instead of conda.

[2020-01-23 00:35] dapello opened #268 "PyTorchClassifier preprocessing on Imagenet Images"
**Describe the bug**
Image preprocessing with the PyTorchClassifier on imagenet images does not seem to broadcast the means and stds correctly. Or maybe I'm just missing something?

**To Reproduce**
[code]
returns the error:
[code]

**Expected behavior**
The images should have the channel means subtracted off, and then be divide by the channel standard deviations -- given the input shape, this wou

[2020-01-23 10:39] beat-buesser commented on #268
Hi @dapello Thank you for raising this issue!. We will investigate it as soon as possible.

[2020-01-23 13:15] beat-buesser commented on #268
I think you have found an opportunity where the implementation and documentation could be improved. The broadcasting fails because the last dimension of `x` and `mean` / `std` are not the same or one of them 1.

You should be able to continue with your script by defining:
[code]
and
[code]
making the broadcasting working.

I propose to keep this issue open and see if we can automate the broadcasti

[2020-01-27 18:03] dapello commented on #268
Ah, yeah, that makes sense -- I was definitely expecting automatic broadcasting, since the channel_index was specified. Thanks for the clarification!

[2020-01-27 23:13] beat-buesser opened #269 "Refactor unit tests"
We would like to refactor the unit tests of ART.

The unit tests have become quite heterogeneous in testing philosophy, tests are duplicating each others targets, test runs are reaching the time limit of Travis CI and levels of code reuse across modules and frameworks are relatively low.

Therefore we would like to refactor the unit tests by changing integration tests to faster and more accurate c

[2020-01-27 23:16] beat-buesser opened #270 "Refactor unit tests for FGSM, BIM and PGD attacks"
Refactor unit tests for FGSM, BIM and PGD attacks.

- reuse test codes across frameworks and attack modules
- similar models (e.g. ART's standard neural networks for testing) across different frameworks should test against the same expected values.

[2020-01-27 23:19] beat-buesser commented on #270
@killianlevacher According to our discussions you have already started working on this issue, thank you very much! Please make a comment in this thread so that I can assign this issue to you.

[2020-01-27 23:26] beat-buesser opened #271 "Add application example for simple Automatic Speech Recognition (ASR)"
Implement an application example script and a notebook for simple Automatic Speech Recognition (ASR) using the https://github.com/Jakobovski/free-spoken-digit-dataset.

- maybe the notebook should be able to play the benign and adversarial audio signal

[2020-01-27 23:28] beat-buesser commented on #271
@hesseltuinhof Following our discussions you are interested working on this issue, thank you very much! Please make a comment in this thread so that I can assign this issue to you.

[2020-01-27 23:30] beat-buesser opened #272 "Extend supported labels and tasks"
Currently ART supports either one-hot encoded or index labels for categorical classification tasks.

We plan to extend ART to accept (ideally) all possible label formats. The following labels and tasks should be supported:

- [ ] object detection labels, image segmentation
- [ ] images / tensors as labels / autoencoder / VAE
- [ ] sequences as labels / seq2seq models
- [ ] regression tasks
- [ ] .

[2020-01-28 11:34] beat-buesser commented on #51
Hi @rish-16 Have you been able to make progress with this issue?

[2020-01-28 13:44] beat-buesser commented on #23
I'm closing this issue because development in Caffe seem to have stopped and Caffe2 has been merged with PyTorch (https://medium.com/@Synced/caffe2-merges-with-pytorch-a89c70ad9eb7). @hesseltuinhof Thank you for the hint.

[2020-01-28 13:44] #23 closed

[2020-01-28 14:00] beat-buesser opened #273 "Implement attack for imperceptible, robust and targeted adversarial examples for Automatic Speech Recognition"
Implement attack for imperceptible, robust and targeted adversarial examples for Automatic Speech Recognition.

Paper link: https://arxiv.org/abs/1903.10346

- investigate possible reuse/extension of or similarities with `ExpectationOverTransformations`
- full integration of this attack most likely depends on #272

[2020-01-29 13:58] beat-buesser commented on #272
I will start investigating new/general label formats using branch ` development_labels ` to understand if this epic can be implemented in one issue or if it can be broken up into multiple issues.

[2020-01-29 14:02] beat-buesser commented on #272
This issue will also solve #251

[2020-01-30 21:59] beat-buesser opened #276 "Implement DPatch: An Adversarial Patch Attack on Object Detectors"
Implement DPatch: An Adversarial Patch Attack on Object Detectors

Paper link: https://arxiv.org/abs/1806.02299v4

[2020-01-30 22:00] beat-buesser opened #277 "Implement ShapeShifter: Robust Physical Adversarial Attack on Faster R-CNN Object Detector"
Implement ShapeShifter: Robust Physical Adversarial Attack on Faster R-CNN Object Detector

Paper link: https://arxiv.org/abs/1804.05810

[2020-02-03 14:29] khedher1984 opened #278 "MSE function"
Hello,
I have a model compiled with the MSE loss function.
I could not use the tool because the function is not implemented.
Have you any suggestions?
Thank you

[2020-02-03 17:17] beat-buesser commented on #278
Hi @khedher1984 Thank you for using ART and raising this issue! Could you please provide additional information which classes of ART you are using or better a short code example?

[2020-02-04 11:00] khedher1984 commented on #278
Thank you for your help.
I used the MNIST dataset to create a classification model based on the MSE loss function.
My architecutre is the following:

from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

bat

[2020-02-04 12:33] shashankkotyan opened #279 "Difference in adversarial images and adversarial accuracy across different platforms (Keras Classifier and TensorflowV2 Classifier)."
**Bug Description**
I notice a change in adversarial accuracy and adversarial image when I shift from KerasClassifier to TensorFlowV2Classifier.

Results I have for Fast Gradient Sign Method.
I attacked the first 100 images in the Cifar-10 Test Dataset. The values in  [*] show number of images attacked for each class
KC: [ 6,6,4,8,4,8,12,10,9,10 ] = 77 images successfully attacked out of 100 image

[2020-02-04 13:38] beat-buesser commented on #279
Hi @shashankkotyan Thank you very much for using ART and raising this issue! To get a better understanding, could you please provide additional information about your model (structure, loss function, etc.)?

[2020-02-04 14:27] beat-buesser commented on #278
@khedher1984 Thank you for the detailed code example! The loss function `keras.losses.mean_squared_error` is not supported in the current version of `KerasClassifier`, but we plan to support it in the upcoming releases of ART.

Your example does work with `KerasClassifier` after changing to categorical crossentropy with `model.compile(loss=keras.losses.categorical_crossentropy,` and achieves even

[2020-02-04 15:19] shashankkotyan commented on #279
Thank you for your prompt reply.
I have used vanilla ResNet architecture. The code is also mentioned below.
I have a model weight (.h5) file and load the weights in the same structure.
The only difference is using the Keras module in one experiment and using TensorflowV2 module in another experiment.

`
# In Keras experiment.
from keras import initializers, layers, models, optimizers, regularizers

[2020-02-04 15:21] shashankkotyan commented on #279
Thank you for your prompt reply.
I have used vanilla ResNet architecture. The code is also mentioned below.
I have a model weight (.h5) file and load the weights in the same structure.
The only difference is using the Keras module in one experiment and using TensorflowV2 module in another experiment.

`

In Keras experiment.
`from keras import initializers, layers, models, optimizers, regularizers

[2020-02-04 15:25] shashankkotyan commented on #279
Thank you for your prompt reply @beat-buesser.

I have used vanilla ResNet architecture whose weights I load from a model weights (.h5) file. In both the experiments, Keras and TensorflowV2, I use the same .h5 file. The only difference is using Keras Module in the first experiment and TensorflowV2 Module in the second experiment.

**Code Snippet:**

In Keras experiment
`from keras import initializ

[2020-02-04 15:36] shashankkotyan opened #280 "Request for addition of Few Pixel Attack (One Pixel Attack)"
I would like to add an implementation of Few Pixel Attack (https://arxiv.org/pdf/1906.06026.pdf) which is a generalisation of One Pixel Attack (https://arxiv.org/pdf/1710.08864.pdf).

[2020-02-04 15:37] shashankkotyan opened #281 "Request for addition of Threshold Attack"
I would like to add an implementation of Threshold Attack (https://arxiv.org/pdf/1906.06026.pdf).

[2020-02-04 15:40] beat-buesser commented on #280
Hi @shashankkotyan Thank you for working on adding these new attacks to ART! Let us know any time if you have questions.

[2020-02-04 15:41] beat-buesser commented on #281
Hi @shashankkotyan Thank you for working on adding this new attack to ART! Let us know any time if you have questions.

[2020-02-04 21:35] beat-buesser commented on #279
@shashankkotyan I have used your code above to train a model with Keras 2.3.1 and have tested it after loading from h5-file with `KerasClassifier` and `TensorFlowV2Classifer` with TensorFlow 2.1. I have received identical adversarial examples in both cases using `FastGradientMethod`. I have also checked that the loss gradients provided by the two classifiers are identical. So far I'm not able to r

[2020-02-04 23:29] shashankkotyan commented on #279
@beat-buesser I have checked the h5 file and it remains the same across my tests.
It has an accuracy of 92.7% on Cifar-10 Test Dataset given by the sample script below.
I have also checked the setting of clip values. In my case as I give a preprocessed image to the attacked, therefore, I use `clip_values=(0,1)`

A summary of adversarial accuracy on the first 100 samples is

|

[2020-02-05 08:50] shashankkotyan commented on #279
Edited [Issue Comment](https://github.com/IBM/adversarial-robustness-toolbox/issues/279#issue-559689858) to include more specific details about the testing environments.

[2020-02-05 15:22] seanpmorgan opened #283 "KerasClassifier does not check input shapes"
Typically a Keras model will validate input shape before passing it through a model. Because of the way predictions are calculated in ART though this is not done:
https://github.com/IBM/adversarial-robustness-toolbox/blob/master/art/classifiers/keras.py#L215

On an architecture like [inception_resnet_v2](https://github.com/keras-team/keras-applications/blob/master/keras_applications/inception_resn

[2020-02-05 21:43] beat-buesser commented on #283
Hi @seanpmorgan Thank you for raising this issue! We will improve it in our next release 1.2.

[2020-02-05 23:43] beat-buesser commented on #279
@shashankkotyan Thank you very much for the great example script! Sorry for the delay, but I think I have finally identified the reasons for your observations.

The current version of `TensorFlowV2Classifier` in ART 1.1.0 only supports `SparseCrossEntropy` because it calls the loss function with index labels. Unfortunately it does not warn or inform the user. This got fixed in commit 46eeb2ff0ec4a

[2020-02-06 06:48] shashankkotyan commented on #279
@beat-buesser Thank you for your thorough explanation. I have checked your script and it is producing expected results. Thank you for your suggestions to make the script more crisp and concise.

A summary of adversarial accuracy on the first 100 samples on the modified script is

|                       | With Clip Value | Without Clip Value |
|-----------------------|-----------------|-----------

[2020-02-06 06:49] shashankkotyan commented on #279
@beat-buesser Thank you for your thorough explanation. I have checked your script and it is producing expected results. Thank you for your suggestions to make the script more crisp and concise.

A summary of adversarial accuracy on the first 100 samples on the modified script is

|                       | With Clip Value | Without Clip Value |
|-----------------------|-----------------|-----------

[2020-02-06 10:10] beat-buesser commented on #279
@shashankkotyan Thank you very much for confirming the results and your suggestions!

[2020-02-07 12:49] khedher1984 commented on #278
Thank you for your answer !
Have you any idea about the next release incluse the MSE function in Kerasclassifier ?

[2020-02-07 17:07] beat-buesser commented on #278
@khedher1984 No, I don't think it is part of a release plan so far. Would you be interested to implement `MSE` in `KerasClassifier?` You could follow the example of the other loss functions and I could provide support.

[2020-02-08 02:21] #283 closed

[2020-02-08 02:22] beat-buesser commented on #279
@shashankkotyan Thank you for your help! This should now be fixed with the release of ART 1.1.1.

[2020-02-08 02:22] #279 closed

[2020-02-11 12:11] minhitbk opened #288 "Boundary attack doesn't support unsquared images"
**Describe the bug**
The current implementation of Boundary attack doesn't seem to support unsquared images, this issue will investigate and provide a solution for it.

[2020-02-11 12:43] beat-buesser commented on #288
Hi @minhitbk Thank you for opening and working on a solution for this new feature!

[2020-02-15 13:27] mathsinn opened #289 "EoT is not accounting for transformations in backward pass"
**Describe the bug**
Currently, the loss and class gradient calculations for EoT account for transformations only in the forward pass. This is inconsistent with the definition e.g. in https://arxiv.org/pdf/1802.00420.pdf, Section 4.2.

**To Reproduce**
This is revealed by a static code analysis: l.90 and l.108 in https://github.com/IBM/adversarial-robustness-toolbox/blob/master/art/wrappers/expect

[2020-02-15 17:38] beat-buesser commented on #289
Hi @mathsinn Thank you very much for opening this issue!

[2020-02-17 11:13] TreeLLi opened #290 "Hard Code of Cuda Device in PyTorchClassifier"
**Describe the bug**
The default device is hard coded as `cuda:0` in the initialization of PyTorchClassifer class, which forces all GPU computation on the cuda:0 and hence disable the real parallelization on GPUs and also raises an error when such device is not available.

The statement in `PyTorchClassifer` of `art.classifiers.pytorch`:  `self._device = torch.device("cuda:0" if torch.cuda.is_avai

[2020-02-17 13:43] beat-buesser commented on #290
Hi @TreeLLi Thank you very much for using ART and raising this issue! We will fix it as soon as possible in our next release.

[2020-02-18 10:24] TreeLLi commented on #290
Hi, thanks for your concern. I would like to suggest you to simply set the device as `cuda` instead of `cuda:0` so that users could control via the cuda default device, or adopt the same device as the underlying model's which may be more intuitive.

Apart from that, I personally recommend a chapter in your document clarifying your strategy on device and parallelisation.

[2020-02-18 10:51] beat-buesser commented on #290
@TreeLLi Thank you very much for your recommendations. Would you be interested in making a pull request of your proposed solution?

[2020-02-18 16:41] ebubae opened #292 "Backdoor Poisoning Attacks"
**Is your feature request related to a problem? Please describe.**
Add backdoor poisoning examples to ART (see [Badnets, Gu 2017](https://arxiv.org/abs/1708.06733)).

**Describe the solution you'd like**
Implementation of backdoor poisoning attacks as an extension of the `PoisoningAttack` class with notebook example and tests.

[2020-02-18 17:03] beat-buesser commented on #292
Hi @ebubae Thank you very much for raising this feature request and working on implementing it! Would it be possible to add it to the ART v1.2.0 milestone?

[2020-02-18 17:38] beat-buesser opened #293 "Add API and example for transformation defences"
Define API for transformation defences which take a trained classifier as input and return a classifier modified to be more robust.

Implement as an example defensive distillation (paper link: https://arxiv.org/pdf/1511.04508.pdf)

[2020-02-18 17:41] beat-buesser opened #294 "Implement Madry's Protocol as adversarial training example"
Create API for adversarial trainers which train classifiers on adversarial examples.

Implement Madry's Protocol as a new example (paper link: https://arxiv.org/abs/1706.06083)

[2020-02-18 17:45] beat-buesser opened #295 "Randomised Smoothing as Training or Certification"
Investigate if Randomised Smoothing can be added as an adversarial trainer or if we should create a separate API for certifications.

[2020-02-18 18:07] ebubae commented on #292
We can put this down for the v1.2.0 milestone.

[2020-02-19 15:44] minhitbk opened #297 "HopSkipJump doesn't support unsquared images"
HopSkipJump attack doesn't seem to support unsquared images, this issue will investigate and provide a solution for it.
This issue is similar to #288.

[2020-02-19 17:50] ebubae opened #299 "Descriptive names for targeted attacks"
**Is your feature request related to a problem? Please describe.**
When generating generating targeted attacks the method arguments  `generate(x, y=None)` can be confusing. In this case `y` usually refers to the target label for the attack, but users may accidentally put the correct label there, rendering the attack ineffective.

**Describe the solution you'd like**
Maybe we should change that arg

[2020-02-19 20:08] beat-buesser commented on #299
Hi @ebubae Thank you very much for raising this issue! I think if we would make this change it should be made consistent across all attacks.

[2020-02-24 21:42] kkarrancsu opened #306 "Binary Classification with Single Output Neuron"
Hello,

1. Does ART support generating adversarial examples on neural networks designed for binary classification with a single output neuron?
2. Are there any examples in PyTorch for how to use a pretrained classifier? All examples I've seen include training using the PyTorchClassifier wrapper. I'm not sure how to instantiate one of these objects if I've already got a trained model.

Thanks!

[2020-02-24 22:39] beat-buesser commented on #306
Hi @kkarrancsu Thank you for your interest in ART!

1. The current version of ART v1.1 does not officially support binary classification with 1 output. You would have to use a model which makes predictions for both classes, e.g. with 2 neurons that add up to 1, because we are not testing with binary classifiers and at least a few attacks still contain code that is not compatible with a single outp

[2020-02-24 23:13] akshayag opened #307 "Error in Hop skip jump attack"
**Describe the bug**
A clear and concise description of what the bug is.

RuntimeWarning: invalid value encountered in true_divide
  result = grad / np.linalg.norm(grad)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If

[2020-02-24 23:16] beat-buesser commented on #307
Hi @akshayag Thank you for your interest in ART! Could you please provide a more detailed description of you issue?

[2020-02-24 23:19] akshayag commented on #307
Hi,
I was trying to run the Hop Skip Jump attack suing following specification:
adv_crafter = HopSkipJump(classifier, targeted=False, norm=2, max_iter=10, max_eval=100, init_eval=10, init_size=10)

However, after running couple of iterations (or examples), at the end program gives the following error (I think division by zero)

/adversarial-robustness-toolbox-master/art/attacks/evasion/hop_skip_ju

[2020-02-24 23:25] beat-buesser commented on #307
Ok. Could you please provide additional information about `classifier` and about the classification (model size, framework, training accuracy, etc.)?

 I would like to learn if it is a code issue or just a numerical issue.

[2020-02-24 23:25] beat-buesser commented on #307
Or would you have a short code example that reproduces your issue?

[2020-02-24 23:32] akshayag commented on #307
Hi,

The code name is adversarial_training_cifar10.py which is provided in the examples folder.

[2020-02-24 23:34] akshayag commented on #307
# -*- coding: utf-8 -*-
"""
Trains a convolutional neural network on the CIFAR-10 dataset, then generated adversarial images using the
DeepFool attack and retrains the network on the training set augmented with the adversarial images.
"""
from __future__ import absolute_import, division, print_function, unicode_literals

import logging

from keras.models import Sequential
from keras.layers import

[2020-02-24 23:41] beat-buesser opened #308 "Create a new Estimator API"
Supporting all possible machine learning tasks beyond the current classification tasks requires extending our current Classifier API towards a new Estimator API. The new Estimator API will include the current classifiers as a subset for classification tasks, provide framework-specific parent estimators and model and/or task specific sub-class estimators.

[2020-02-24 23:56] beat-buesser opened #309 "Extend Attack API and optimise implementations"
- Large datasets or models require optimised implementations of attacks to run as fast as possible. In this epic we will investigate framework-specific implementations of attacks, e.g. GPU-optimised, CPU-parallelised, etc. and implement them, most likely, as sub-classes of the existing frame-work-independent attacks. That way a framework-specific implementation will be chosen if it is available fo

[2020-02-25 00:13] beat-buesser opened #310 "Create new Data API"
Supporting all possible machine learning tasks in addition to the current classification is facilitated by a new Data API. This Data API will become the preferred way of providing data to ART, while ART sill provide backward compatible support for ndarray-like objects. This new Data API will provide:

- [ ] a central implementations of dynamic data loading
- [ ] batching
- [ ] interfaces for data

[2020-02-25 00:21] beat-buesser opened #311 "Create Metric API"
Create an API for robustness metrics. The current metrics contains mainly metric specific functions. We plan to define APIs for metrics an implement additional metrics.

[2020-02-25 01:02] beat-buesser commented on #307
Ho do you call the generate method? Is it `adv_crafter.generate(x_test)`?

[2020-02-25 01:12] akshayag commented on #307
Yes, I have used the generate method. It ran for multiple examples but
failed at the end may be for one example.

logger.info('Craft attack on training examples')
x_train_adv = adv_crafter.generate(x_train)
logger.info('Craft attack test examples')
x_test_adv = adv_crafter.generate(x_test)

On Mon, Feb 24, 2020 at 7:02 PM Beat Buesser <notifications@github.com>
wrote:

--
Akshay Agarwal
Ph.D. Scho

[2020-02-25 01:56] beat-buesser commented on #307
Thank you very much! I have ran `generate`, so far, for the first 2000 images of x_train and have not observed the reported error. Would it be possible for you to share an .h5-file of your Keras model so that I can repeat the experiment with the same weights? Do you know for which image of x_train the error occurs?

[2020-02-25 02:04] akshayag commented on #307
I have used the same model which is used in the
adversarial_training_cifar10.py. I have not saved the model, however, I
will try to run the code again and see if it works or at which sample the
error occurs. I will let you know.

Thanks for your quick response.

On Mon, Feb 24, 2020 at 7:56 PM Beat Buesser <notifications@github.com>
wrote:

--
Akshay Agarwal
Ph.D. Scholar (PhD14001),
Image Analysi

[2020-02-25 10:35] #281 closed

[2020-02-25 10:35] #280 closed

[2020-02-25 13:14] kkarrancsu commented on #306
Thanks so much for the prompt response @beat-buesser.  Regarding using a trained model, would we still need to wrap our trained model with the `PyTorchClassifier ` class in order to use the ART attacks against it?  In that case, the constructor seems to require both a `torch.nn.modules.loss._Loss` and an `torch.optim.Optimizer` object.  I didn't dig into the code enough to see whether those object

[2020-02-25 13:53] beat-buesser commented on #306
@kkarrancsu Ok, I see.

Yes, trained models also need to be wrapped with the ART Classifier to provide all the API methods that the attacks are expecting.

The differences in the classifiers have several reasons. I think in Keras it is/was relatively easy to automatically extract the loss function from a model, whereas it seemed more challenging in PyTorch, which is why ART asks the user the defin

[2020-02-26 07:58] QuXinghuaNTU opened #313 "RL model cannot apply this toolbox"
**Is your feature request related to a problem? Please describe.**
The ART can only accept the classifier trained by ART itself?

**Describe the solution you'd like**
When I try to apply the attack algorithm on the RL policy, I got the error below:
TypeError: For `FastGradientMethod` classifier must be an instance of `art.classifiers.classifier.Classifier`, the provided classifier is instance of (

[2020-02-26 10:09] beat-buesser commented on #313
Hi @QuXinghuaNTU Thank you for using ART!

ART does accept trained models as input to its classifiers. From the error message that you have shared above it looks like you are providing a model `class 'stable_baselines.common.base_class.OffPolicyRLModel'` directly to an attack `FastGradientMethod`. You have to first wrap your model inside an ART classifier (`art.classifiers.classifier.*`). The spec

[2020-02-26 11:26] beat-buesser commented on #51
Hi @rish-16 Are you still working on this issue?

[2020-02-26 12:44] beat-buesser opened #314 "Implement defence evaluations by Tramèr et al. (2020)"
Implement defence evaluations of Tramèr et al. (2020) as notebooks using ART and identify gaps in ART.

Paper link: https://arxiv.org/abs/2002.08347

Create a separate notebook for each evaluation in a new folder in notebooks.
Create separate issues for each evaluation.

- [ ] 5. k-Winner Take All
- [ ] 6. The Odds are Odd
- [ ] 7. Are Generative Classifiers More Robust?
- [ ] 8. Robust Sparse Fou

[2020-02-26 13:08] beat-buesser opened #315 "Implement Feature Adversaries attack by Sabour et al. (2016)"
Implement Feature Adversaries attack by Sabour et al. (2016) as evasion attack.

Paper link: https://arxiv.org/abs/1511.05122

[2020-02-26 15:59] beat-buesser commented on #272
I'm closing this epic because it has been replaced with multiple detailed epics which will provide a general solution: #308 #309 #310 #311

[2020-02-26 15:59] #272 closed

[2020-02-26 16:08] beat-buesser opened #316 "Implement a prototype of the new Estimator API"
Starting with epic #308 this issue will create a first prototype for the new estimator API on branch `development_estimator`.

[2020-02-26 22:21] arashno opened #317 "Base class for blackbox or graybox attacks?"
The BlackBox or GrayBox attacks are conceptually different from the WhiteBox attacks. The only existing BlackBox attack (Query-efficient black-box attack (Ilyas et al., 2017)) implementation does not extend any base class. It seems a separate base class for them could be very useful.

[2020-02-26 23:21] beat-buesser commented on #317
Hi @arashno Thank you very much for your interest in ART!

It is not correct that there is only one black box attack, because. ART also provides in addition to Query-efficient black-box attack the Zeroth-order optimisation (ZOO), HopSkipJump, or Spatial transformation attacks as black box attacks which are extending the base class `EvasionAttack`.

Why would a separate base class be useful for you

[2020-02-26 23:22] #263 closed

[2020-02-26 23:22] #218 closed

[2020-02-27 16:08] arashno commented on #317
Hi @beat-buesser
Thanks for your quick reply.
Sorry, I am new to this field and I don't know much details on different attacks.

First, I found that the Query-efficient black-box attack class does not extend any base class.
(https://github.com/IBM/adversarial-robustness-toolbox/blob/master/art/wrappers/query_efficient_bb.py)
I expected it to use the same base class as the other attacks. Is anythin

[2020-02-27 17:07] beat-buesser commented on #317
Hi @arashno

No worries, these are good questions. Maybe we should add attack-scenario-specific base classes at some point. Let me explain why we don't have them so far.

1. I think the implementation of Query-efficient black-box as a wrapper (of a classifier) instead of an `EvasionAttack` is that it behaves like a (black-box) classifier which through (efficient) queries approximates its loss grad

[2020-02-27 18:43] #317 closed

[2020-03-01 12:30] beat-buesser opened #319 "Implement defence evaluation 12 - EMPIR"
Implement defence evaluation 12 - EMPIR following #314

[2020-03-02 16:26] hesseltuinhof opened #321 "Add application example for video action recognition"
Explore possibilities of applying ART to video action recognition in a simple example script / notebook. As a starting point one could use the [UFC101](https://www.crcv.ucf.edu/data/UCF101.php) data set.

[2020-03-03 00:12] QuXinghuaNTU commented on #313
I use the code below to transfer the RL model to ART model. It works.
`
your_RLmodel.load_weights("your_model.hdf5")
# this line change your model to ART model
classifier = KerasClassifier(model=your_RLmodel)`

[2020-03-03 00:13] #313 closed

[2020-03-04 02:49] Ninarehm opened #322 "cannot import name 'ClassifierNeuralNetwork'"
Hello,
I am getting the following error: cannot import name 'ClassifierNeuralNetwork'  using the following art version Adversarial-Robustness-Toolbox==1.0.0. I was wondering if you could help me.
Thanks.

[2020-03-04 12:36] beat-buesser commented on #322
Hi @Ninarehm Thank you for using ART! Could you please provide more information on what you are trying to do e.g. a code snippet that leads to your observation?

[2020-03-04 15:31] beat-buesser opened #323 "Check method fit_generator in KerasClassifier"
The method fit_generator is currently commented out. It should be un-commented and tested.

[2020-03-04 17:34] Ninarehm commented on #322
Hi. I am just trying to run the poisoning_attack_svm.ipynb and get the above error!

[2020-03-04 20:26] Ninarehm commented on #322
<img width="750" alt="issue" src="https://user-images.githubusercontent.com/13911211/75919933-48621b00-5e13-11ea-98e4-d8ab3b6226e5.png">

[2020-03-04 21:51] beat-buesser commented on #322
So far I'm not able to reproduce it with ART 1.0.0.

@Ninarehm Could you please confirm that your notebook is actually running with ART 1.0.0?

@ebubae Have you seen this error before with the poisoning SVM notebook?

[2020-03-05 02:23] ebubae commented on #322
@beat-buesser I haven't run into this problem. I couldn't replicate this issue on the `master` or `dev_1.2.0` branch.

[2020-03-05 02:42] Ninarehm commented on #322
I was able to make it work. Thanks. I’ll close the issue.

[2020-03-05 02:42] #322 closed

[2020-03-10 22:26] ebubae opened #328 "Clean-Label Attacks"
**Is your feature request related to a problem? Please describe.**
Add attack from [Poison Frogs! Targeted Clean-Label Poisoning on Neural Networks](https://arxiv.org/abs/1804.00792).

**Describe the solution you'd like**
Implementation of Clean-Label attacks as a white box poisoning attack on neural networks. Should include basic unit tests, Jupyter Notebook, and other necessary documentation.

[2020-03-11 18:47] yuyuexi opened #330 "run adversarial-robustness-toolbox/examples/get_started_keras.py and get error"
**Describe the bug**
When I just copy and run adversarial-robustness-toolbox/examples/get_started_keras.py, I encountered an unexpected error and the error info as following:
[code]
after disabling eager execution with command ```tf.compat.v1.disable_eager_execution()```, I also got an error and info. as following :
[code]

**System information (please complete the following information):**
 - OS:

[2020-03-11 19:30] beat-buesser commented on #330
Hi @Ben1008611 Thank you very much for using ART!

The first message is expected. `KerasClassifier` uses this exception to warn you that it can only be used with tensorflow.keras if eager execution is disabled.

On first look on the second error message, I think it is not en error by ART. The last line `ValueError: Tensor("Const:0", shape=(), dtype=float32) must be from the same graph as Tensor("t

[2020-03-11 20:35] #252 closed

[2020-03-11 20:37] #247 closed

[2020-03-12 02:56] Ben1008611 commented on #330
Hi @beat-buesser Thanks for your kind reply!

I just find the reason causing this issue:
1. I copy the example code for keras and change keras to tf.keras, then it shows message
```TensorFlow is executing eagerly. Please disable eager execution.```
2. I just add ```tf.compat.v1.disable_eager_execution()``` before classifier wrap command
```classifier = KerasClassifier(model=model, clip_values=(min

[2020-03-12 11:29] beat-buesser commented on #330
Hi @Ben1008611
That's great news and thank you for sharing your solution!

[2020-03-15 20:00] #230 closed

[2020-03-15 20:01] #251 closed

[2020-03-15 20:01] #264 closed

[2020-03-15 20:01] #267 closed

[2020-03-15 20:01] #271 closed

[2020-03-15 20:01] #270 closed

[2020-03-15 20:02] #290 closed

[2020-03-15 20:02] #293 closed

[2020-03-15 20:02] #319 closed

[2020-03-15 20:02] #292 closed

[2020-03-15 20:02] #323 closed

[2020-03-15 20:02] #227 closed

[2020-03-15 20:03] #288 closed

[2020-03-15 20:03] #294 closed

[2020-03-15 20:03] #321 closed

[2020-03-15 20:04] #297 closed

[2020-03-15 20:05] #205 closed

[2020-03-15 20:06] #186 closed

[2020-03-16 17:51] beat-buesser opened #341 "Implement Wasserstein Adversarial Examples via Projected Sinkhorn Iterations"
Implement Wasserstein Adversarial Examples via Projected Sinkhorn Iterations as evasion attack.

Paper link: https://arxiv.org/abs/1902.07906
GitHub link: https://github.com/locuslab/projected_sinkhorn

[2020-03-16 18:04] beat-buesser opened #342 "Implement Shadow Attack"
Implement "Shadow Attack" as evasion attack.

Paper link: https://openreview.net/forum?id=HJxdTxHYvB

[2020-03-16 18:22] beat-buesser opened #343 "Implement defence evaluation 13 - Temporal Dependency"
Implement defence evaluation 13 - Temporal Dependency following #314

[2020-03-16 18:29] beat-buesser opened #344 "Investigate performance of Projected Gradient Descent (PGD)"
Investigate and compare time and accuracy of Projected Gradient Descent (PGD) implementations.

[2020-03-16 18:32] beat-buesser opened #345 "Implement Fast is Better than Free protocol for PyTorch"
Implement Fast is Better than Free protocol as training defence.

Paper link: https://arxiv.org/abs/2001.03994

[2020-03-16 18:42] beat-buesser opened #346 "Move unittests of all neural network classifiers to new system"
- move the unittests of `PyTorchClassifier` and `MXClassifier` to new system
- extend new system to run all tests for `KerasClassifier`, `TensorFlowClassifier`, `TensorFlowV2Classifier`, `PyTorchClassifier` and `MXClassifier` with the same expected values defined in a single location

[2020-03-16 20:50] beat-buesser opened #347 "Implement framework-specific version of Adversarial Patch attack - TensorFlow v2"
Implement framework-specific version of Adversarial Patch attack for TensorFlow v2.

The new implementation of `AdversarialPatch` should use the new framework-specific implementation created with this issue if a classifier of type `TensorFlowV2Classifier` is provided and use the current framework-independent implementation for all other classifier types.

Paper link: https://arxiv.org/abs/1712.096

[2020-03-19 17:22] minhhpham opened #348 "Possible Memory Leak"
**Describe the bug**
We were trying to follow the example in [examples/mnist_transferability.py](https://github.com/IBM/adversarial-robustness-toolbox/blob/master/examples/mnist_transferability.py). We used the exact same data set (MNIST) to train the same Keras model. The code file is provided [here](https://gist.github.com/minhhpham/7ed9b4f43f536cb60412a372d9f09c28#file-cifar_seed-py) and the mo

[2020-03-19 22:40] beat-buesser commented on #348
Hi @minhhpham Thank you very much for using ART and raising this issue! We will investigate it as soon as possible.

[2020-03-20 00:39] beat-buesser commented on #348
Hi @minhhpham and @jinlin80,
I have made a few test runs with your script and model. I was able to see a quite dramatic increase in memory usage from the beginning during the iterations with `attack_cw` (Carlini&Wagner) using TensorFlow 2.0.0 as reported by you above. This increase completely disappears if I upgrade to TensorFlow 2.1.0 as recommended, therefore I think this memory leak is caused b

[2020-03-24 14:44] killianlevacher opened #351 "Incorporate DefenceGAN as part of the ART Framework"
We plan on incorporating a new defense based on the DefenceGAN paper (see below) to the the ART Framework. As part of this work, a reusable GAN abstraction will be set in place in order to integrate easily any future GAN contribution to the ART framework.

The original paper can be found here: https://arxiv.org/abs/1911.10291

[2020-03-26 16:32] #348 closed

[2020-03-28 06:57] anujstam opened #352 "Carlini Wagner attack does not preturb a lot of the samples"
Hi,
I'm comparing two models for robustness and I'm attacking both with the Carlini Wagner L2 attack. I've noticed that the attack often returns the original sample back as the perturbed sample (IE, no change, L2 distance of zero, and no change of the confidence in the prediction by the model). The samples have fairly high confidence values to begin with so it is not a matter of the model being un

[2020-03-28 12:31] mathsinn commented on #352
Hi @anujstam , thank you for using ART!

The Carlini Wagner attack will return the unmodified original input when the search for an adversarial example did not succeed.

The first thing I'd try to make the attack succeed on a larger portion of samples is to increase the `initial_const` parameter by a couple of orders of magnitude. This will relax the attack objective to find adversarial examples w

[2020-03-28 12:52] anujstam commented on #352
Thank you! Will try and update ASAP

[2020-03-30 11:30] beat-buesser opened #353 "Implement adversarial attacks for optical flow-based action recognition classifiers"
Implement adversarial attacks for optical flow-based action recognition classifiers

Paper link: https://arxiv.org/abs/1811.11875

[2020-04-01 12:49] hesseltuinhof opened #355 "PGD attack with a MXNet classifier on a GPU fails"
I am applying a PGD attack to a sample on an MXNet classification model. When using CPU context everything works fine. However, when switching to the GPU context, PGD raises an error.

Steps to reproduce the behavior:
1. Prepare a classification task with MXNet, e.g. open the adversarial video action recognition notebook.
2. Ensure that the attack employs PGD
3. Ensure that a compatible GPU is ava

[2020-04-05 16:47] nquntan opened #359 "[question] pytorch training"
Hi, Now I want to make pytorch learn cifar10, but I get an error.
This is my code and error
[code]

[code]

How can i fix?

[2020-04-06 12:10] beat-buesser commented on #359
Hi @nquntan Thank you very much for using ART! I would be interested to find out why this error occurs. Could you please provide the python imports and PyTorch version that you have used for your script above?

[2020-04-06 12:23] nquntan commented on #359
[code]
The target value was not set to an onehot, which was not good.
However, in pytorch, the behavior was changed by changing the number of batch_size in predict.(test accuracy)
That didn't happen with keras. Why is this?

[2020-04-06 13:37] beat-buesser commented on #359
I would like to find out why too. I would like to try to run your script, could please also share your imports at the top of your script?

[2020-04-06 14:06] nquntan commented on #359
[code]
[code]

Here is my code.

[2020-04-06 20:20] ririnicolae opened #360 "Add type hints to ART"
**Describe the solution you'd like**
With the removal of support for Python 2, ART can now include type hints. These automate some of the checking logic currently present in the library and can be automatically parsed by Sphinx for docs.

[2020-04-06 22:33] beat-buesser commented on #359
It looks like `PyTorchDataGenerator` is expecting one-hot-encoded labels. If you add these lines to your script it should work:

[code]

[2020-04-10 11:08] nquntan commented on #359
sorry for the late reply and Thanks for the solution.
By the way In PyTorch, when the batch size is changed, test_acc also changes.

ex)
[code]

[2020-04-10 11:32] #359 closed

[2020-04-10 14:39] beat-buesser opened #365 "Implement evasion attack AutoAttack"
Implement evasion attack AutoAttack.

Paper link: https://arxiv.org/abs/2003.01690

[2020-04-12 09:39] TreeLLi opened #366 "Unexpected Dtype Cast Caused By Clipping"
**Describe the bug**
The `dtype` of input tensor can be unintentionally converted to `np.float64`, default in numpy, from `np.float32`, specified explicitly in the config file, by the operation of clipping after enabling random initialization in the protocols such as PGD and FGM. This will later raise an dtype mismatch error between the input (float32) and the weights of model (float64).

The prob

[2020-04-12 09:42] TreeLLi commented on #366
sorry that there is a typo in the description of bug. The mismatch of dtype should be the input (float64) and the weights of model (float32).

[2020-04-13 10:22] JoshuaCN opened #367 "High adversarial accuracy of TensorflowV2Classifier under Fast Gradient Sign Method (compared to KerasClassifier)."
**Describe the bug**
Hi, I recently attacked an MNIST model with FGSM, when KerasClassifer is used, the attack works properly (acc=16.91%), however, I noticed a high adversarial accuracy (77.6%) and lots of unchanged images when using TensorFlowV2Classifier. I have read a relevant issue #279 ，but it didn't help.

**To Reproduce**
Here is the colab notebook to reproduce the results.
[https://colab.

[2020-04-13 15:16] keykholt opened #368 "Obfuscated/Vanishing Gradient Tests and Warning"
**Is your feature request related to a problem? Please describe.**
When performing certain adversarial attacks such as fast gradient descent, the attack can fail if the gradient returned is zero. This can be due to a number of factors such as a some non-differentiable layer, saturation, etc. The issue is that the attack will fail silently; It does not report that a zero gradient is present.

**Des

[2020-04-13 16:29] mathsinn commented on #367
Hi @JoshuaCN , thank you for using ART and raising this issue! It seems there is a problem with vanishing gradients: when I compute, with the TensorflowV2Classifier,
[code]
for a test input `k` on which the attack fails, it turns out the entries of `clg` are all `0.0`. Thus, FGSM (which uses the loss gradients to compute the adversarial example) will not alter the input and fail. In fact, the test

[2020-04-13 16:33] mathsinn commented on #368
I think that's a very good idea. We just saw, in #367, another example where vanishing gradients led to unexpected attack success rates.

[2020-04-13 22:04] akshayag opened #369 "Error on PixelAttack and ThresholdAttack"
File "/media/dellserver/HD1/adversarial-robustness-toolbox-master2/art/attacks/evasion/pixel_threshold.py", line 210, in _attack
    from cma import CMAOptions
ModuleNotFoundError: No module named 'cma'

[2020-04-13 23:38] quinlivanb commented on #199
Hey, @ggh96, I would also be interested in this functionality, could you share your progress?

[2020-04-14 10:04] beat-buesser commented on #369
Hi @akshayag Thank you very much for using ART! `cma` is one of the dependencies specific to `pixel_threshold.py`. You can fix this error by installing `cma` with `pip install cma`.

[2020-04-14 12:11] beat-buesser commented on #368
Hi @keykholt I think this is a great idea. Would you be interested to implement a solution?

[2020-04-14 12:13] beat-buesser commented on #366
Hi @TreeLLi Thank you for reporting this issue! We will investigate and fix it as soon as possible.

[2020-04-14 12:19] beat-buesser commented on #367
Hi @JoshuaCN Thank you very much for using ART and raising this issue! I would be very interested to reproduce and learn more about it.

Could you please let us know which Keras did you use (keras or tensorflow.keras, and which version) and which release candidate version of TensorFlow 2.2.0 did you use?

I was not able to open the Colab link above, can you check if it is working?

[2020-04-14 13:04] TreeLLi commented on #366
Hi, thanks for your great work and concern of this issue. I am happy to give more detail if need.

[2020-04-14 13:40] beat-buesser commented on #366
@TreeLLi I think a similar Dtype change can happen in line 295 if the clip_values are provided as np.float64. Have you observed similar problems with `num_random_init=0`?

I think we should add in both lines `.astype(ART_NUMPY_DTYPE)` after np.clip().

@TreeLLi Would you be interested to implement a solution and make a pull request? Otherwise I can I go ahead and make the changes.

[2020-04-14 16:06] killianlevacher opened #370 "Streamlining ART setup process"
**Is your feature request related to a problem? Please describe.**
The current ART setup and development environment could benefit some standardization and clarification for both new comers and existing contributors.

* For instance, as it stands, many contributors are using different versions of the pip packages requirements  which can lead to confusion and time wasted when debugging potentially

[2020-04-14 18:07] keykholt commented on #368
Sure thing.

[2020-04-14 20:30] beat-buesser commented on #368
Great!

[2020-04-15 00:25] davidslater opened #371 "Add get_model method to Classifer"
**Is your feature request related to a problem? Please describe.**
Adaptive attacks often require modification of the underlying model, such as by removing the softmax output or replacing operations in the network (e.g. replacing log(exp(x)) with x). However, it is difficult to access the underlying model after wrapping it in Classifier.

**Describe the solution you'd like**
A `get_model()` method

[2020-04-15 00:25] davidslater commented on #371
This would also make it easier to save models after adversarially training them with ART.

[2020-04-15 00:38] davidslater opened #372 "Improve logging for fit_generator on keras and pytorch"
**Is your feature request related to a problem? Please describe.**
When using a vanilla `DataGenerator` as input, `PyTorchClassifier.fit_generator` does not provide any logging, while `KerasClassifier.fit_generator` treats each batch as a single epoch, resulting in a ton of logging.

**Describe the solution you'd like**
Typical logging, one line per epoch, updating throughout that epoch. For the `

[2020-04-15 00:45] davidslater opened #373 "Poisoning defense with not in-memory dataset"
**Is your feature request related to a problem? Please describe.**
Most (if not all) poisoning filtering defenses, such as `ActivationDefense`, require the entire dataset to be passed in, in-memory. This doesn't work for larger datasets or on memory-constrained systems for moderate sized datasets.

**Describe the solution you'd like**
The ability to pass in a `DataGenerator` instead of a full data

[2020-04-15 00:51] davidslater opened #374 "Ability to apply Preprocessor and Postprocessor after Classifier init"
**Is your feature request related to a problem? Please describe.**
Currently, Preprocessor and Postprocessor defenses must be given at Classifier initialization, as they are set during initialization: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/art/classifiers/classifier.py#L124-L132

**Describe the solution you'd like**
Allow these to be set or appended to with seomthing lik

[2020-04-15 01:04] #330 closed

[2020-04-15 12:43] TreeLLi commented on #366
There is no problem with `num_random_init=0`, even though `_apply_perturbation` method with clipping may change the dtype of its return. In the case without random initialization, the dtype of `x_adv` variable in the method body is fixed as `np.float32` and the slicing assignment operation, line 323, in numpy seem to implicitly perform the dtype cast to the same one as the LHS variable's i.e. `np.

[2020-04-15 17:18] beat-buesser commented on #366
That's really great and I'm looking forward to the pull request! I think your solution is the best one and the explanation makes sense. We are currently working on branch `dev_1.3.0` for the upcoming release, this would be the target branch for this issue. Let us know anytime if you have questions.

[2020-04-16 06:07] JoshuaCN commented on #367
Hi @beat-buesser Thank you for your reply and sorry for my delay, I used tensorflow.keras, and the release candidate version  is rc2.

Directly clicking the link Ieads to a blank page, I instead copy the colab link and open it in a new page, which works for me.

Anyway, I attached the file here in case the link is invalid for others.

[Untitled1.zip](https://github.com/IBM/adversarial-robustness-t

[2020-04-16 10:19] beat-buesser commented on #367
Thank you very much! This is very helpful.

[2020-04-16 17:28] akshayag commented on #369
Hello, Thank you so much for your quick response. I have installed the dependency and attack ran for a couple of hours. However, later gives the following error:

Traceback (most recent call last):
  File "Adversarial_Robustness2.py", line 130, in <module>
    _train_adv = adv_crafter.generate(x_train)
  File "/media/dellserver/HD1/adversarial-robustness-toolbox-master2/art/attacks/attack.py", lin

[2020-04-18 18:36] beat-buesser commented on #372
I think this could be related to the work in #87.

@ririnicolae I think you are working on #87 for ART 1.3. Will #87 solve this issue?

[2020-04-18 18:57] CarlosMoralesSal opened #379 "Error changing HopSkipJump to Zoo attack on blackbox tesseract ocr"
**Describe the bug**
On this notebook: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/notebooks/classifier_blackbox_tesseract.ipynb, a mate and me are working on this and when we try to change the attack to Zoo from the HopSkipJump we have an error:
AttributeError: 'BlackBoxClassifier' object has no attribute 'channel_index'

**To Reproduce**
We just change this line attack = Ho

[2020-04-18 19:07] CarlosMoralesSal opened #380 "Question about using HopSkipJump and BlackboxClassifer for Tesseract"
**Describe the bug**
We have test two images with the tesseract directly and both images have been recognized and we have found the numbers correctly, but once we test them with this notebook: attack = HopSkipJump(classifier=classifier, targeted=True, norm=2, max_iter=0, max_eval=1000, init_eval=10), one of the images it is not recognized, as well, once the HopSkipJump is working, when we should s

[2020-04-18 19:10] beat-buesser commented on #379
Hi @CarlosMoralesSal Thank you for raising this issue. I don't think this is an actual error, it's caused because not all attacks can be combined with all classifiers. We are working on better warnings in such cases for ART 1.3 using the new exception `EstimatorError`. In this case `ZooAttack` requires the property `channel_index` which is not provided by `BlackBoxClassifier`.

[2020-04-18 19:10] #379 closed

[2020-04-18 19:15] beat-buesser commented on #380
Hi @CarlosMoralesSal Thank you for raising this issue. It could probably depend on how you are loading an preprocessing these images. Could you please share the fill code you are using?

[2020-04-18 19:17] CarlosMoralesSal commented on #380
Of course, it is the same as in the example, just changing the images. Thanks

[2020-04-18 19:19] beat-buesser commented on #380
Could you please share your notebook, just to be sure and avoid confusion on our side?

[2020-04-18 19:29] CarlosMoralesSal commented on #380
Yes, here you have
[tessearact_notebook.zip](https://github.com/IBM/adversarial-robustness-toolbox/files/4497482/tessearact_notebook.zip)

Thanks

[2020-04-18 19:57] beat-buesser commented on #374
I have just remembered that we have already implemented this as part of the new Estimator API for the upcoming ART 1.3 where the new `BaseEstimator` class and with it all estimators/classifiers in ART 1.3 will have a `set_params` method for the BaseEstimator's attributes including `preprocessing_defences` and `postprocessing_defences` (https://github.com/IBM/adversarial-robustness-toolbox/blob/ace

[2020-04-18 20:47] beat-buesser commented on #380
Thank you very much, the file makes it easier to understand the question correctly. I think the reason for the white boxes that you have observed and described as part of the output are caused by running `matplotlib.pyplot.imshow` with an image array with a `dtype` of `np.float32` and a min/max pixel range of 47 to 180 for image 85.jpg. If I use `plt.imshow(x_adv[0].astype(np.uint8))` or `plt.imsh

[2020-04-19 01:53] beat-buesser commented on #367
I have ran experiments with your notebook and I think the difference in behaviour observed is caused by TensorFlow and not by ART. `KerasClassifier` uses `tf.gradients`  to calculate loss gradients whereas `TensorFlowV2Classifier` uses `tf.GradientTape`. It looks like that the softmax activation in the last layer of the model can be treated numerically different in these two methods to calculate g

[2020-04-19 05:31] hussainkarafallah opened #382 "JSMA weird behavior"
I am using JSMA on my keras model
First weird thing is, if i call the generate function without providing y parameter (target labels) it runs normally (which is not expected)
Second thing is, even when i run it , it yields examples that don't change my model prediction (not a single successful one of them). I had to put theta >= 400 in order to be able to generate examples that my model misses. Gi

[2020-04-19 07:42] JoshuaCN commented on #367
Thank you so much! Now I'm getting expected results.

[2020-04-19 07:50] #367 closed

[2020-04-19 11:04] beat-buesser commented on #382
Hi @hussainkarafallah Thank you for using ART! Could you please share a python script or notebook which reproduces your observations?

[2020-04-19 11:06] beat-buesser commented on #369
@akshayag Could you please share a python script or notebook which reproduces your observation?

[2020-04-19 17:26] akshayag commented on #369
from __future__ import absolute_import, division, print_function, unicode_literals

import logging

from keras.models import Sequential
from keras.layers import Dense, Flatten, Conv2D, MaxPooling2D, Activation, Dropout
import numpy as np

from art.attacks import DeepFool
from art.attacks import PixelAttack
from art.classifiers import KerasClassifier
from art.utils import load_dataset

# Configure

[2020-04-19 17:27] akshayag commented on #369
Same code is for ThresholdAttack

[2020-04-20 14:59] davidslater commented on #372
I think that #87 will solve the issue, assuming the method used for `fit` is used for `fit_generator`.

[2020-04-20 15:05] davidslater commented on #374
I think that this would work. Is there a `get_params` method as well? That would make it straightforward to append defenses as well:
[code]

[2020-04-20 16:39] beat-buesser commented on #369
@akshayag Thank you very much, this script is very helpful!

@shashankkotyan It looks like that the implementations of PixelAttack and ThresholdAttack create an error as described above if these attacks cannot find an adversarial example. I have created a possible solution in pull request #384 . Could you please take a look if this solution is correct?

[2020-04-20 16:47] beat-buesser commented on #374
I think that's a good idea. There is no `get_params` so far, but we'll add it to `BaseEstimator` as part of this issue.

[2020-04-20 18:49] shashankkotyan commented on #369
@beat-buesser I will take a look at the pull request.

[2020-04-21 21:09] ebubae opened #387 "Trouble visualizing RGB images using Activation Defence"
**Describe the bug**
`ActivationDefence.visualizeClutsters` breaks on RBG images.

**To Reproduce**
RGB version of MNIST images fail when attempting to visualize cluster
[code]

This begets some output about a list not having a shape attribute.

[2020-04-22 21:04] davidslater commented on #295
From my understanding of randomized smoothing methods (and I recent discussion I had with JHU folks), the training part is relatively straightforward. It is just a basic data augmentation technique there.

The challenge, in terms of API, is at inference time. There, we would need to perform inference on a large number of (sampled) perturbed images and average over them. Determining gradients would

[2020-04-23 21:53] #387 closed

[2020-04-24 10:08] mathsinn commented on #295
@davidslater We already have randomized smoothing in ART, as a classifier wrapper: https://github.com/IBM/adversarial-robustness-toolbox/blob/master/art/wrappers/randomized_smoothing.py
It implements, in the `.predict` function, the sampling-based logic that you described.

The purpose of this issue here is to decide whether randomized smoothing should be moved under the Trainer defence API or whe

[2020-04-24 12:30] TreeLLi commented on #366
Hi, I have implemented a fix and tested in my program which performs FGM and PGD with `num_random_init=1`. The solution just works well as we expected. However, I noticed that unit tests are required in your contribution guideline, but I think it may be better to modify the existing FGM and PGD attack tests to cover the aforementioned situations instead of creating a new separate test. Please tell